<%= error_messages_for :invite %>

<% form_for @invite do |form| -%>
	<p>
	  <%= form.label :email %>
	  <%= form.text_field :email %>
	</p>
	
	<p>
	  <label for="activate"><%= t(:invites_activate) %></label>
	  <%= check_box_tag :activate, true, true %>
	</p>
	
  <p>
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </p>
  
  <p>
    <%= form.label :body %>
    <%= form.text_area :body, :size => "29x5" %>
  </p>

	<p>
		<label>&nbsp;</label>
		<%= submit_tag @invite.new_record? ? t(:create) : t(:update) %> or <%= link_to t(:cancel), invites_path %>
	</p>
<%  end -%>