<%= error_messages_for :invite %>

<% form_for @invite do |form| -%>
	<p>
	  <%= form.label :email %><br/>
	  <%= form.text_field :email %>
	</p>
	
  <p>
    <%= form.label :subject %><br/>
    <%= form.text_field :subject %>
  </p>
  
  <p>
    <%= form.label :body %><br/>
    <%= form.text_area :body, :size => "50x5" %>
  </p>

	<p>
	  <label for="activate" title="<%= t('winnow.invites.main.activate_tooltip') %>"><%= t("winnow.invites.edit.activate") %>
	  <%= check_box_tag :activate, true %></label>
    &nbsp;&nbsp;
		<%= submit_tag @invite.new_record? ? t("winnow.invites.edit.create") : t("winnow.invites.edit.update") %>
    <%= t("winnow.general.or") %> <%= link_to t("winnow.general.cancel"), invites_path %>
	</p>
<%  end -%>