<% form_tag invites_path, :id => "text_filter_form", :onsubmit => "itemBrowser.addFilters({text_filter: $F('text_filter')}); return false;" do -%>
  <%= search_field_tag "text_filter", params[:text_filter], :placeholder => "Search Invites...", :clear => { :onclick => "itemBrowser.addFilters({text_filter: null});" } %>
<% end -%>

<div class="toolbar right">
  <%= rounded_button_link 'Create Invite', new_invite_path, :icon => "add" %>
  
  <div class="group">
    <label><%= _(:sort_label) %></label>
    <%= rounded_button_function _(:created), "itemBrowser.setOrder('created')", :icon => "", :id => "order_created", :class => "first" %>
    <%= rounded_button_function _(:email),   "itemBrowser.setOrder('email')",   :icon => "", :id => "order_email" %> 
    <%= rounded_button_function _(:status),  "itemBrowser.setOrder('status')",  :icon => "", :id => "order_status" %>
  </div>
</div>
  