<% form_tag invites_path, :id => "text_filter_form", :onsubmit => "itemBrowser.addFilters({text_filter: $F('text_filter')}); return false;" do -%>
  <%= search_field_tag "text_filter", params[:text_filter], :placeholder => "Search Invites...", :clear => { :onclick => "itemBrowser.addFilters({text_filter: null});" } %>
<% end -%>

<ul class="control_bar">
  <li><%= link_to 'Create Invite', new_invite_path, :class => "add" %></li>
  <li class="order">
    <%= _(:sort_label) %>
    <%= link_to_function _(:created), "itemBrowser.setOrder('created')", :id => "order_created" %>, 
    <%= link_to_function _(:email),   "itemBrowser.setOrder('email')",   :id => "order_email" %>, 
    <%= link_to_function _(:status),  "itemBrowser.setOrder('status')",  :id => "order_status" %>
  </li>
</ul>
