<% form_tag invites_path, :id => "text_filter_form", :onsubmit => "return false" do -%>
  <%= text_field_tag "text_filter", params[:text_filter], :placeholder => t("winnow.invites.header.search_placeholder"), :title => t("winnow.invites.header.search_tooltip") %>
<% end -%>

<div class="order clearfix">
  <label><%= t("winnow.general.sort_label") %></label>        
  <select id="order">
    <option value="created"><%= t("winnow.invites.attributes.created") %></option>
    <option value="email"><%= t("winnow.general.email") %></option>
    <option value="status"><%= t("winnow.invites.attributes.status") %></option>
  </select>
  <%= direction_link %>
</div>

<div class="toolbar right">
  <%= rounded_button_link t("winnow.invites.general.create_invite"), new_invite_path, :icon => "add_invite", :title => t("winnow.invites.header.create_invite_tooltip") %>
</div>
