<div id="invite_<%= invite.id %>" class="invite clearfix">
	<ul class="controls">
    <% unless invite.code? -%>
    <li><%= link_to t("winnow.invites.main.activate"), activate_invite_path(invite), :class => :activate, :title => t("winnow.invites.main.activate_tooltip"), :method => :put %></li>
    <li><%= link_to t("winnow.general.edit"), edit_invite_path(invite), :class => :edit, :title => t("winnow.general.edit_tooltip") %></li>
    <% end -%>
    <li><%= link_to t("winnow.general.destroy"), invite, :class => :destroy, :title => t("winnow.general.destroy_tooltip"), :method => :delete, :confirm => t("winnow.general.are_you_sure") %></li>
	</ul>
	
	<dl class="created clearfix">
	  <dt><%= t("winnow.invites.attributes.created") %></dt>
	  <dd><%= format_date(invite.created_at) %></dd>
    <dt><%= t("winnow.general.email") %></dt>
    <dd><%= mail_to h(invite.email) %></dd>
	  <dt><%= t("winnow.invites.attributes.status") %></dt>
    <dd>
	  <% if invite.user -%>
	    <%= t("winnow.invites.main.accepted") %> <%=h invite.user.login %>
	  <% elsif invite.code? -%>
	    <%= t("winnow.invites.main.activated") %> <%=h invite.code %>
	  <% else -%>
	    <%= t("winnow.invites.main.requested") %>
	  <% end -%>
	  </dd>
	</dl>

	<dl class="question clearfix">
	  <dt><%= t("winnow.invites.main.question") %></dt>
	  <dd>
	    <% if invite.hear.blank? && invite.use.blank? -%>
	      <em><%= t("winnow.invites.main.no_answers") %></em>
	    <% else -%>
    	  <% unless invite.hear.blank? -%>
          <strong><%= t("winnow.general.how_did_you_hear") %></strong><br />
          <%=h invite.hear %><br />
          <br />
        <% end -%>
    	  <% unless invite.use.blank? -%>
          <strong><%= t("winnow.general.how_do_you_want_to_use") %></strong><br />
          <%=h invite.use %><br />
        <% end -%>
      <% end -%>
    </dd>
	</dl>
	
	<dl class="email clearfix">
	  <dt><%= t("winnow.general.email") %></dt>
	  <dd>
    <% unless invite.subject.blank? -%>
      <strong><%= t("winnow.invites.main.subject") %></strong><br />
      <%=h invite.subject %><br />
      <br />
    <% end -%>
    <% unless invite.body.blank? -%>
      <strong><%= t("winnow.invites.main.body") %></strong><br /> 
      <%=h invite.body %><br />
    <% end -%>
    </dd>
	</dl>
</div>