<div id="invite_<%= invite.id %>" class="invite clearfix">
	<ul class="controls">
    <% unless invite.code? -%>
    <li><%= control_link "Activate", activate_invite_path(invite), :method => :put, :html => { :class => :active_icon } %></li>
    <li><%= control_link "Edit", edit_invite_path(invite), :html => { :class => :edit_icon } %></li>
    <% end -%>
    <li><%= control_link "Destroy", invite, :method => :delete, :html => { :class => :destroy_icon }, :confirm => "Are you sure?" %></li>
	</ul>
	
	<dl class="created clearfix">
	  <dt>Created</dt>
	  <dd><%= format_date(invite.created_at) %></dd>
    <dt>Email</dt>
    <dd><%= mail_to invite.email %></dd>
	  <dt>Status</dt>
    <dd>
	  <% if invite.user -%>
	    Accepted: <%= link_to truncate(invite.user.login), invite.user %>
	  <% elsif invite.code? -%>
	    Activated: <%= truncate(invite.code, 15) %>
	  <% else -%>
	    Requested
	  <% end -%>
	  </dd>
	</dl>
	  
	<dl class="question clearfix">
	  <dt>Question</dt>
	  <dd>
	  <% unless invite.hear.blank? -%>
      <strong>How did you hear about Winnow?</strong><br />
      <%= invite.hear %><br />
      <br />
    <% end -%>
	  <% unless invite.use.blank? -%>
      <strong>How/why do you want to use Winnow?</strong><br />
      <%= invite.use %><br />
    <% end -%>
    </dd>
	</dl>
	
	<dl class="message clearfix">
	  <dt>Email</dt>
	  <dd>
    <% unless invite.subject.blank? -%>
      <strong>Subject:</strong><br />
      <%= invite.subject %><br />
      <br />
    <% end -%>
    <% unless invite.body.blank? -%>
      <strong>Body:</strong><br /> 
      <%= invite.body %><br />
    <% end -%>
    </dd>
	</dl>
</div> <!-- /#invite_<%= invite.id %> -->