<h1><%= _(:messages_editing_messages) %></h1>

<%= error_messages_for :message %>

<% form_for(@message) do |f| %>
  <p>
    <b>Body</b><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit _(:update) %>
  </p>
<% end %>

<%= link_to _(:show), @message %> |
<%= link_to _(:back), messages_path %>
