<h1><%= t(:messages_editing_messages) %></h1>

<%= error_messages_for :message %>

<% form_for(@message) do |f| %>
  <p>
    <b>Body</b><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit t(:update) %>
  </p>
<% end %>

<%= link_to t(:show), @message %> |
<%= link_to t(:back), messages_path %>
