<h1><%= t("winnow.messages.new.new_message") %></h1>

<%= error_messages_for :message %>

<% form_for(@message) do |f| %>
  <p>
    <%= f.text_area :body %><br />
    <%= t("winnow.general.textile_reference") %>
  </p>
  <p>
    <%= f.submit t("winnow.general.create") %>
  </p>
<% end %>

<%= link_to t("winnow.general.back"), messages_path %>
