<div id="<%= dom_id(feed) %>" class="feed clearfix">
  <div class="left clearfix">
    <div class="name">
      <%= feed_link(feed) %>
    </div>
  </div>
  
  <div class="right clearfix">
    <dl class="training">
      <dt><%= _(:last_updated) %></dt>
      <dd><%= format_date(feed.updated_on) %></dd>
      <dt><%= _(:number_of_items) %></dt>
      <dd class="last"><%= feed.feed_items_count %></dd>
    </dl>
    
    <ul class="controls">
      <li class="first"><%= globally_exclude_check_box(feed) %> <%= _(:globally_exclude) %></li>
      <li><%= link_to _(:show), feed_items_path(:anchor => "feed_ids=#{feed.id}"), :class => 'show_icon', :title => _(:feeds_show_link_title, feed.title) %></li>
    </ul>
  </div>
</div>