<% form_tag feeds_path, :id => "text_filter_form", :onsubmit => "return false" do -%>
  <%= search_field_tag "text_filter", params[:text_filter], :placeholder => t(:feeds_header_search_placeholder) %>
<% end -%>

<div class="order clearfix">
  <label><%= t(:sort_label) %></label>        
  <select id="order">
    <option value="title"><%= t(:feeds_header_title) %></option>
    <option value="globally_exclude"><%= t(:feeds_header_globally_exclude) %></option>
    <option value="feed_items_count"><%= t(:feeds_header_items) %></option>
    <option value="created_on"><%= t(:feeds_header_created) %></option>
    <option value="updated_on"><%= t(:feeds_header_last_updated) %></option>
  </select>
  <%= direction_link %>
</div>
  
<div class="toolbar right">
  <%= rounded_button_function t(:feeds_header_add_import), "$('add_feed').toggle()", :icon => "add" %>
</div>

<div id="add_feed" style="clear:both;<%= flash[:error] || params[:feed] ? '' : 'display:none' %>">
  <fieldset class="full">
    <legend><%= t(:feeds_add_import) %></legend>
    <% form_for :feed, @feed, :url => feeds_path do |f| %>
      <p><%= t(:feeds_new_description) %></p>
      <p>
        <%= f.text_field :url, :size => 70 %>
        <%= submit_tag t(:add_feed_button) %> 
      </p>
    <% end %>

    <% form_tag import_feeds_path, :method => :post, :multipart => true do -%>
      <p><%= t(:feeds_import_description) %></p>
      <p>
        <%= file_field_tag 'opml', :size => 60 %>
        <%= submit_tag t(:upload) %> 
      </p>
    <% end -%>
    
    <p><%= t(:feeds_new_bookmarklet_description) %></p>
    
    <%= link_to t(:feeds_add_to_winnow), bookmarklet_js, :class => "bookmarklet", :title => t(:feeds_add_to_winnow), 
                  :onclick => "Message.add('error', #{t(:feeds_bookmarklet_js_error_message).to_json}); return false;" %>
  </fieldset>
</div>
