<% form_tag feeds_path, :id => "text_filter_form", :onsubmit => "return false" do -%>
  <%= text_field_tag "text_filter", params[:text_filter], :placeholder => t("winnow.feeds.header.search_placeholder"), :title => t("winnow.feeds.header.search_tooltip") %>
<% end -%>

<div class="order clearfix">
  <label title="<%= t('winnow.feeds.header.feed_sort_label_tooltip') %>"><%= t("winnow.general.sort_label") %></label>
  <select id="order">
    <option value="title"><%= t("winnow.feeds.header.title") %></option>
    <option value="globally_exclude"><%= t("winnow.general.globally_excluded") %></option>
    <option value="feed_items_count"><%= t("winnow.feeds.header.items") %></option>
    <option value="created_on"><%= t("winnow.feeds.header.created") %></option>
    <option value="updated_on"><%= t("winnow.general.last_updated") %></option>
  </select>
  <%= direction_link %>
</div>
  
<div class="toolbar right">
  <%= rounded_button_function t("winnow.feeds.header.add_import"), "$('add_feed').toggle()", :icon => "add", :title => t("winnow.feeds.header.add_import_tooltip") %>
</div>

<div id="add_feed" style="clear:both;<%= flash[:error] || params[:feed] ? '' : 'display:none' %>">
  <fieldset class="full">
    <legend><%= t("winnow.feeds.header.add_import") %></legend>
    <% form_for :feed, @feed, :url => feeds_path, :html => { :class => "single_submit" } do |f| %>
      <p><%= t("winnow.feeds.header.add_feed_description") %></p>
      <p>
        <%= f.text_field :url, :size => 70, :title => t("winnow.feeds.header.add_feed_tooltip") %>
        <%= submit_tag t("winnow.feeds.header.add_feed_button"), :"data-disabled_value" => t("winnow.feeds.header.add_feed_button_disabled") %>
      </p>
    <% end %>

    <% form_tag import_feeds_path, :method => :post, :multipart => true do -%>
      <p><%= t("winnow.feeds.header.upload_opml_description") %></p>
      <p>
        <%= file_field_tag 'opml', :size => 60, :title => t("winnow.feeds.header.upload_tooltip") %>
        <%= submit_tag t("winnow.feeds.header.upload_button"), :title => t("winnow.feeds.header.upload_tooltip") %>
      </p>
    <% end -%>
    
    <p><%= t("winnow.feeds.header.bookmarklet_description") %></p>

    <p><%= bookmarklet_installation_instructions %></p>
    
    <div title="<%= t('winnow.feeds.header.bookmarklet_tooltip') %>"><%= link_to t("winnow.feeds.header.add_to_winnow_bookmarklet"), bookmarklet_js, :class => "bookmarklet", :onclick => "return false;" %></div>
  </fieldset>
</div>
