<ul class="control_bar">
  <li><%= link_to "Add", new_feed_path %></li>
  <li><%= link_to "Import", import_feeds_path %></li>
  <li>
    Sort:
    <%= link_to_function "Title",            "itemBrowser.addFilters({order: 'title'})",            :id => "order_title" %>, 
    <%= link_to_function "Globally Exclude", "itemBrowser.addFilters({order: 'globally_exclude'})", :id => "order_globally_exclude" %>, 
    <%= link_to_function "Items",            "itemBrowser.addFilters({order: 'feed_items_count'})", :id => "order_feed_items_count" %>, 
    <%= link_to_function "Last Updated",     "itemBrowser.addFilters({order: 'updated_on'})",       :id => "order_updated_on" %>
  </li>
</ul>

<% form_tag feeds_path, :method => :get, :onsubmit => "if($F('text_filter').length < 4) { new ErrorMessage('Search requires a word with at least 4 characters.'); } else { $('error').hide(); resizeContent(); itemBrowser.addFilters({text_filter: $F('text_filter')}); } return false;" do -%>
  <%= search_field_tag "text_filter", params[:text_filter], :placeholder => "Search Feeds...", :clear => { :onclick => "itemBrowser.addFilters({text_filter: null});" } %>
<% end -%>