<ul class="control_bar">
  <li><%= link_to _(:feeds_header_add), new_feed_path %></li>
  <li><%= link_to _(:feeds_header_import), import_feeds_path %></li>
  <li class="order">
    <%= _(:sort_label) %>                                                                                                              
    <%= link_to_function _(:feeds_header_title),            "itemBrowser.setOrder('title')",            :id => "order_title" %>, 
    <%= link_to_function _(:feeds_header_globally_exclude), "itemBrowser.setOrder('globally_exclude')", :id => "order_globally_exclude" %>, 
    <%= link_to_function _(:feeds_header_items),            "itemBrowser.setOrder('feed_items_count')", :id => "order_feed_items_count" %>, 
    <%= link_to_function _(:feeds_header_last_updated),     "itemBrowser.setOrder('updated_on')",       :id => "order_updated_on" %>
  </li>                                                                                                                 
</ul>

<% form_tag feeds_path, :onsubmit => "itemBrowser.addFilters({text_filter: $F('text_filter')}); return false;" do -%>
  <%= search_field_tag "text_filter", params[:text_filter], :placeholder => _(:feeds_header_search_placeholder), :clear => { :onclick => "itemBrowser.addFilters({text_filter: null});" } %>
<% end -%>