<%= render :partial => 'header_controls' %>
<% form_tag import_feeds_path, :method => :post, :multipart => true do -%>
	<fieldset>
		<legend><%= _(:feeds_upload_opml_file) %></legend>
		<p><%= _(:feeds_import_description) %></p>
		<p><label for="opml"><%= _(:feeds_opml_file) %></label><%= file_field_tag 'opml', :size => 50 %></p>
		<p><label>&nbsp;</label>
			<%= submit_tag _(:import) %> 
			<%= link_to _(:cancel), feeds_url %>
		</p>
	</fieldset>
<% end -%>