<% @skip_content_container = true %>
<%= render :partial => 'header_controls' %>
<table class="data_table recordset">
  <thead>
    <tr>
  		<th><%= link_to "Title", sort_param('feeds', :alias => 'title') %></th>
  		<th class="view_state"><%= link_to "Globally Exclude", sort_param('feeds', :alias => 'globally_exclude') %></th>
  		<th class="number"><%= link_to "Items", sort_param('feeds', :alias => 'item_count') %></th>
  		<th class="date"><%= link_to "Last Updated", sort_param('feeds', :alias => 'updated_on') %></th>
  		<th></th>
    </tr>
  </thead>
  <tbody id="content">
    <% for feed in @feeds %>
      <tr id="<%= "feed_#{feed.id}" %>">
    		<td><%= feed_link(feed) %></td>
  	    <td><%= globally_exclude_check_box(feed) %></td>
    		<td class="number"><%= feed.feed_items_count %></td>
    		<td class="date"><%= format_date(feed.updated_on) %></td>
    		<td class="controls">
    			<%= link_to image_tag("show.gif"), feed_items_path(:anchor => "feed_ids=#{feed.id}") %>
    		</td>
      </tr>
    <% end %>
  </tbody>
</table>
