<%= render :partial => 'header_controls' %>

<% form_for :feed, @feed, :url => feeds_path do |f| %>
	<fieldset>
		<legend><%= _(:feeds_enter_new_feed_url) %></legend>
		<p><%= _(:feeds_new_description1) %></p>
		<p><%= _(:feeds_new_description2) %></p>
		<p><%= f.label(:url, _(:feeds_new_url_label)) %><%= f.text_field :url, :size => 70 %></p>
		<p><label>&nbsp;</label>
			<%= submit_tag _(:create_feed_button) %> 
			<%= link_to _(:cancel), feeds_path %>
		</p>
	</fieldset>
<% end %>

<h3><%= _(:bookmarklet) %></h3>
<p>
    <%= _(:feeds_new_bookmarklet_description1) %>
    <a href="<%= bookmarklet_js %>" 
       title="<%= _(:feeds_add_to_winnow) %>"
       class="bookmarklet"
       onclick="new ErrorMessage(<%= _(:feeds_bookmarklet_js_error_message) %>);return false;"
       ><%= _(:feeds_add_to_winnow) %></a>
    <%= _(:feeds_new_bookmarklet_description2) %>
</p>