<%= render :partial => 'header_controls' %>

<table id="<%= "feed_#{@feed.id}" %>" class="property_table">
	<tr>
		<th><%= _(:feeds_title) %></th>
		<td>
		  <%= link_to _(:show), feed_items_path(:anchor => "feed_ids=#{@feed.id}"), :class => 'show_icon replace', :title => _(:feeds_show_link_title, @feed.title), :style => "float: right;" %>
		  <%= link_to(_(:feeds_feed_home), @feed.alternate, :class => "home_icon replace", :style => "float: right; margin-left: 10px;") if @feed.alternate %>
		  <%= link_to(_(:feeds_feed), @feed.via, :class => "feed_icon replace", :style => 'float: right; margin-left: 10px;') %>
		  <%= @feed.title %>
		</td>
	</tr>
	<tr>
	    <th><%= _(:created) %></th>
	    <td><%= format_date(@feed.created_on) %></td>
	</tr>
	<tr>
	  <th><%= _(:number_of_items) %></th>
		<td><span class="item_count"><%= @feed.feed_items_count %></span></td>
	</tr>
	<tr>
	  <th><%= _(:last_collected) %></th>
	  <td><%= format_date @feed.updated_on %></td>
	</tr>
  <tr>
    <th><%= _(:globally_excluded) %></th>
    <td><%= globally_exclude_check_box(@feed) %></td>
  </tr>
</table>

