<div id="<%= dom_id(comment) %>" class="comment clearfix">
  <div class="metadata">
    <div class="author"><%=h comment.user.login %></div>
    <div class="date"><%= format_date(comment.updated_at) %></div>
    <% if can_edit_comment?(comment) -%>
    <div class="actions">
      <%= link_to_remote t(:edit), :url => edit_comment_path(comment), :method => :get, :condition => "!$(this).up('.comment').down('form')" %>
      <%= link_to_remote t(:destroy), :url => comment_path(comment), :method => :delete, :confirm => t(:are_you_sure) %>
    </div>
    <% end -%>
  </div>
  
  <div class="body">
    <%=sth comment.body %>
  </div>
</div>
