<div class="explanation">
	<%= simple_format _(:item_protection_explanation) %>
</div>

<% content_for :header_controls do -%>
  <ul class="control_bar">
  	<li><%= link_to _(:item_protection_rebuild), rebuild_item_protection_path, :method => :post %></li>
  </div>
<% end -%>

<table class="property_table">
	<tr>
		<th><%= _(:item_protection_protector_name) %></th>
		<td><%= @protector.name %></td>
	</tr>
	<tr>
		<th><%= _(:item_protection_number_of_items) %></th>
		<td><%= @protector.protected_items_count %></td>
	</tr>
	<tr>
		<th><%= _(:item_protection_created_on) %></th>
		<td><%= @protector.created_on %></td>
	</tr>
</table>


