<h4><%= link_to _(:manage_users_link), users_path %></h4>
<p><%= _(:manage_users_description) %></p>

<h4><%= link_to _(:manage_invites_link), invites_path %></h4>
<p><%= _(:manage_invites_description) %></p>

<h4><%= link_to _(:manage_item_protection_link), item_protection_path %></h4>
<p><%= _(:manage_item_protection_description) %></p>

<h4><%= link_to _(:manage_messages_link), messages_path %></h4>
<p><%= _(:manage_messages_description) %></p>

<h4><%= link_to _(:manage_info_link), admin_info_path %></h4>
<p><%= _(:manage_info_description) %></p>

<h4><%= link_to _(:manage_help_link), admin_help_path %></h4>
<p><%= _(:manage_help_description) %></p>
