<h4><%= link_to t("winnow.admin.users_link"), users_path, :title => t("winnow.admin.users_tooltip") %></h4>
<p><%= t("winnow.admin.users_description") %></p>

<h4><%= link_to t("winnow.admin.invites_link"), invites_path, :title => t("winnow.admin.invites_tooltip") %></h4>
<p><%= t("winnow.admin.invites_description") %></p>

<h4><%= link_to t("winnow.admin.messages_link"), messages_path, :title => t("winnow.admin.messages_tooltip") %></h4>
<p><%= t("winnow.admin.messages_description") %></p>

<h4><%= link_to t("winnow.admin.info_link"), admin_info_path, :title => t("winnow.admin.info_tooltip") %></h4>
<p><%= t("winnow.admin.info_description") %></p>

<h4><%= link_to t("winnow.admin.help_link"), admin_help_path, :title => t("winnow.admin.help_tooltip") %></h4>
<p><%= t("winnow.admin.help_description") %></p>
