<h4><%= link_to t(:manage_users_link), users_path %></h4>
<p><%= t(:manage_users_description) %></p>

<h4><%= link_to t(:manage_invites_link), invites_path %></h4>
<p><%= t(:manage_invites_description) %></p>

<h4><%= link_to t(:manage_messages_link), messages_path %></h4>
<p><%= t(:manage_messages_description) %></p>

<h4><%= link_to t(:manage_info_link), admin_info_path %></h4>
<p><%= t(:manage_info_description) %></p>

<h4><%= link_to t(:manage_help_link), admin_help_path %></h4>
<p><%= t(:manage_help_description) %></p>

<h4><%= link_to t(:manage_feedback_link), feedbacks_path %></h4>
<p><%= t(:manage_feedback_description) %></p>
