<h4><%= link_to t("winnow.admin.users_link"), users_path %></h4>
<p><%= t("winnow.admin.users_description") %></p>

<h4><%= link_to t("winnow.admin.invites_link"), invites_path %></h4>
<p><%= t("winnow.admin.invites_description") %></p>

<h4><%= link_to t("winnow.admin.messages_link"), messages_path %></h4>
<p><%= t("winnow.admin.messages_description") %></p>

<h4><%= link_to t("winnow.admin.info_link"), admin_info_path %></h4>
<p><%= t("winnow.admin.info_description") %></p>

<h4><%= link_to t("winnow.admin.help_link"), admin_help_path %></h4>
<p><%= t("winnow.admin.help_description") %></p>

<h4><%= link_to t("winnow.admin.feedback_link"), feedbacks_path %></h4>
<p><%= t("winnow.admin.feedback_description") %></p>
