<% if Rails.env.trunk? || Rails.env.development? -%>
  <div class="environment"><%= Rails.env %></div>
<% end -%>

  <div id="navigation">
<div id="demo_title">
	<h1 id="demo_header"><%= t("winnow.general.app_name") %></h1>
	<h2 id="demo_subheader"><%= t("winnow.general.powered_by") %></h2>
</div>

<div id="demo_login">
  <a href="<%= t('winnow.help_links.default')%>" target="_blank"><%= t("winnow.demo.column_headings.what_is_winnowTag") %></a> | <%= link_to "Log in", login_path %>
</div>

<div id="topDemoContent" class="demo_content">
  <p><%= link_to "Sign up", get_signup_link_path, :id => "sign_up" %> <%= t("winnow.demo.explanatory_text.top_invite") %></p>
</div>
  </div>

<div class="column_headers">
	<div id="sidebar_header">
          <%= t("winnow.demo.explanatory_text.updating", :item_count => FeedItem.count, :feed_count => Feed.count) %>
        </div>
	<div id="item_header"><%= t("winnow.demo.column_headings.items") %></div>
</div>

<div id="container">
	<div id="sidebar">
		<ul id="tags" class="filter_list tags">
			<li id="tag_0" class="tag" title="<%= t('winnow.items.sidebar.see_all_items_tooltip')%>"><%= t("winnow.demo.all_items") %></li>
			<%= demo_tag_controls %>
		</ul>
	</div>

	<div id="content">&nbsp;</div>
</div>

<div id="footer">
	<%= t("winnow.demo.footer") %>
</div>
