<% form_tag users_path, :id => "text_filter_form", :onsubmit => "return false" do -%>
  <%= search_field_tag "text_filter", params[:text_filter], :placeholder => _(:users_search_placeholder) %>
<% end -%>

<div class="toolbar right">
  <%= rounded_button_link _(:users_create_user), new_user_url, :icon => "add_user" %>
  <%= rounded_button_link _(:users_export), formatted_users_path(:csv, params.except(:controller, :action)), :icon => "export" %>
  
  <div class="group">
    <label><%= _(:sort_label) %></label>

    <%= rounded_button_function _(:users_header_login),          "", :icon => "", :id => "order_login", :class => "first" %> 
    <%= rounded_button_function _(:users_header_name),           "", :icon => "", :id => "order_name" %> 
    <%= rounded_button_function _(:users_header_email),          "", :icon => "", :id => "order_email" %> 
    <%= rounded_button_function _(:users_header_last_logged_in), "", :icon => "", :id => "order_logged_in_at" %>
    <%= rounded_button_function _(:users_header_last_accessed),  "", :icon => "", :id => "order_last_accessed_at" %>
    <%= rounded_button_function _(:users_header_last_trained),   "", :icon => "", :id => "order_last_tagging_on" %>
    <%= rounded_button_function _(:users_header_number_of_tags), "", :icon => "", :id => "order_tag_count" %>
  </div>
</div>
