<ul class="control_bar">
  <li><%= link_to 'Create User', new_user_url, :class => "add" %></li>
  <li><%= link_to 'Export (CSV)', formatted_users_path(:csv, params.except(:controller, :action)), :class => "add" %></li>
  <li>
    Sort:
    <%= link_to_function "Login",          "itemBrowser.addFilters({order: 'login'})",            :id => "order_login" %>, 
    <%= link_to_function "Name",           "itemBrowser.addFilters({order: 'name'})",             :id => "order_name" %>, 
    <%= link_to_function "Email",          "itemBrowser.addFilters({order: 'email'})",            :id => "order_email" %>, 
    <%= link_to_function "Last Logged In", "itemBrowser.addFilters({order: 'logged_in_at'})",     :id => "order_logged_in_at" %>,
    <%= link_to_function "Last Accessed",  "itemBrowser.addFilters({order: 'last_accessed_at'})", :id => "order_last_accessed_at" %>,
    <%= link_to_function "Last Moderated", "itemBrowser.addFilters({order: 'last_tagging_on'})",  :id => "order_last_tagging_on" %>,
    <%= link_to_function "Number of Tags", "itemBrowser.addFilters({order: 'tag_count'})",        :id => "order_tag_count" %>
  </li>    
</ul>

<% form_tag users_path, :method => :get, :onsubmit => "resizeContent(); itemBrowser.addFilters({text_filter: $F('text_filter')}); return false;" do -%>
  <%= search_field_tag "text_filter", params[:text_filter], :placeholder => "Search Users...", :clear => { :onclick => "itemBrowser.addFilters({text_filter: null});" } %>
<% end -%>