<% form_tag users_path, :id => "text_filter_form", :onsubmit => "return false" do -%>
  <%= search_field_tag "text_filter", params[:text_filter], :placeholder => _(:users_search_placeholder) %>
<% end -%>

<div class="order clearfix">
  <label><%= _(:sort_label) %></label>        
  <select id="order">
    <option value="login"><%= _(:users_header_login) %></option>
    <option value="name"><%= _(:users_header_name) %></option>
    <option value="email"><%= _(:users_header_email) %></option>
    <option value="logged_in_at"><%= _(:users_header_last_logged_in) %></option>
    <option value="last_accessed_at"><%= _(:users_header_last_accessed) %></option>
    <option value="last_tagging_on"><%= _(:users_header_last_trained) %></option>
    <option value="tag_count"><%= _(:users_header_number_of_tags) %></option>
  </select>
  <%= link_to_function "<span class='asc'>Ascending</span><span class='desc'>Descending</span>", "", :id => "direction" %>
</div>

<div class="toolbar right">
  <%= rounded_button_link _(:users_create_user), new_user_url, :icon => "add_user" %>
  <%= rounded_button_link _(:users_export), formatted_users_path(:csv, params.except(:controller, :action)), :icon => "export" %>
</div>  
