<div id="user_<%= user.id %>" class="user clearfix">
  <% unless user == current_user -%>
  <ul class="controls">
    <li><%= link_to _(:login_label), login_as_user_url(user), :class => :login, :method => :post, :confirm => _(:users_login_confirm, user.display_name) %></li>
    <li><%= link_to _(:destroy), user_url(user), :class => :destroy, :method => :delete, :confirm => _(:users_destroy_confirm, user.display_name) %></li>
  </ul>
  <% end -%>

  <h4><%= link_to sanitize(user.login), user_url(user) %></h4>  

  <div class="clearfix">
    <dl class="account_detail">
      <dt><%= _(:users_display_name) %></dt>
  		<dd><%= sanitize user.display_name %></dd>
      <dt><%= _(:email) %></dt>
  		<dd><%= sanitize user.email %></dd>
    </dl>
    <dl class="login_detail">
      <dt><%= _(:users_last_logged_in) %></dt>
      <dd><%= format_date(user.logged_in_at) %></dd>
      <dt><%= _(:users_last_accessed) %></dt>
      <dd><%= format_date(user.last_accessed_at) %></dd>      
    </dl>
    <dl class="tag_detail">      
      <dt><%= _(:users_last_moderated) %></dt>
      <dd><%= format_date(user.last_tagging_on) %></dd>
      <dt><%= _(:users_number_of_tags) %></dt>      
      <dd class="last"><%= user.tags.size %></dd>
    </dl>
  </div>    
</div>