<div id="user_<%= user.id %>" class="user clearfix">
  <ul class="controls">
    <% if user.prototype? %>
      <li class="prototype"><%= t("winnow.general.prototype", :login => user.login) %></li>
    <% else -%>
      <li><%= link_to t("winnow.general.make_prototype"), prototype_user_url(user), :class => "prototype", :title => t("winnow.users.main.make_prototype_tooltip"), :method => :put, :confirm => t("winnow.users.main.make_prototype_confirm", :login => user.login) %></li>
    <% end -%>
    <% unless user == current_user -%>
      <li><%= link_to t("winnow.general.login"), login_as_user_url(user), :class => "login", :title => t("winnow.users.main.login_tooltip"), :method => :post, :confirm => t("winnow.users.main.login_confirm", :login => user.login) %></li>
      <li><%= link_to t("winnow.general.destroy"), user_url(user), :class => "destroy", :title => t("winnow.general.destroy_tooltip"), :method => :delete, :confirm => t("winnow.users.main.destroy_confirm", :login => user.login) %></li>
    <% end -%>
  </ul>

  <h4><%=h user.login %></h4>

  <div class="clearfix">
    <dl class="account_detail">
      <dt><%= t("winnow.users.attributes.name") %></dt>
  		<dd><%=h user.full_name %></dd>
      <dt><%= t("winnow.general.email") %></dt>
  		<dd><%=h user.email %></dd>
    </dl>
    <dl class="login_detail">
		  <dt><%= t("winnow.users.attributes.registered") %></dt>
		  <dd><%= format_date(user.created_at) %></dd>
      <dt><%= t("winnow.users.attributes.last_logged_in") %></dt>
      <dd><%= format_date(user.logged_in_at) %></dd>
      <dt><%= t("winnow.users.attributes.last_accessed") %></dt>
      <dd><%= format_date(user.last_accessed_at) %></dd>
    </dl>
    <dl class="tag_detail">
      <dt><%= t("winnow.users.attributes.last_trained") %></dt>
      <dd><%= format_date(user.last_tagging_on) %></dd>
      <dt><%= t("winnow.users.attributes.number_of_tags") %></dt>
      <dd><%= user.tag_count %></dd>
    </dl>
  </div>
</div>
