<div id="user_<%= user.id %>" class="user clearfix">
  <ul class="controls">
    <li class="first"><%= control_link _(:login_label), login_as_user_url(user), :html => { :class => :home_icon }, :disabled => user == current_user,
  										:method => :post, :confirm => _(:users_login_confirm, user.display_name) %></li>
    <li class="last"><%= control_link _(:destroy), user_url(user), :method => :delete, :html => { :class => :destroy_icon },
  											:disabled => user == current_user,
  											:confirm => _(:users_destroy_confirm, user.display_name) %></li>
  </ul>

  <h4><%= link_to user.login, user_url(user) %></h4>  

  <div class="clearfix">
    <dl class="account_detail">
      <dt><%= _(:users_display_name) %></dt>
  		<dd><%= user.display_name %></dd>
      <dt><%= _(:email) %></dt>
  		<dd><%= user.email %></dd>
    </dl>
    <dl class="login_detail">
      <dt><%= _(:users_last_logged_in) %></dt>
      <dd><%= format_date(user.logged_in_at) %></dd>
      <dt><%= _(:users_last_accessed) %></dt>
      <dd><%= format_date(user.last_accessed_at) %></dd>      
    </dl>
    <dl class="tag_detail">      
      <dt><%= _(:users_last_moderated) %></dt>
      <dd><%= format_date(user.last_tagging_on) %></dd>
      <dt><%= _(:users_number_of_tags) %></dt>      
      <dd class="last"><%= user.tags.size %></dd>
    </dl>
  </div>    
</div> <!-- /#user_<%= user.id %>-->