<% form_for :user, @user, :url => users_path, :method => :post do |f| %>
	<%= error_messages_for 'user' %>
	<fieldset class="profile">
		<legend><%= t("winnow.users.header.create_user") %></legend>
		<p><%= f.label(:login) %><%= f.text_field :login %></p>
		<p><%= f.label(:firstname) %><%= f.text_field :firstname %></p>
		<p><%= f.label(:lastname) %><%= f.text_field :lastname %></p>
		<p><%= f.label(:email) %><%= f.text_field :email %></p>
		<p><%= f.label(:password) %><%= f.password_field :password %></p>
		<p><%= f.label(:confirmation) %><%= f.password_field :password_confirmation %></p>
		<p><%= f.label(:prototype, t("winnow.users.attributes.prototype")) %><%= f.check_box :prototype %></p>
		<p>
			<%= submit_tag t("winnow.general.save"), :name => 'save'%> or
			<%= link_to t("winnow.general.cancel"), users_path %>
		</p>
	</fieldset>
<%  end -%>