<table class="property_table" style="float:left;">
	<tr>
		<th><%= _(:email) %></th>
		<td><%= link_to @user.email, "mailto:#{@user.email}" %></td>
	</tr>
	<tr>
		<th><%= _(:users_registered) %></th>
		<td class="date"><%= format_date(@user.created_at) %></td>
	</tr>
	<tr>
		<th><%= _(:users_last_logged_in) %></th>
		<td class="date"><%= format_date(@user.logged_in_at) %></td>
	</tr>
	<tr>
		<th><%= _(:users_last_tagged) %></th>
		<td class="date"><%= format_date(@user.last_tagging_on) %></td>
	</tr>
	<tr>
		<th><%= _(:users_number_of_tags) %></th>
		<td class="number"><%= @user.tags.size %></td>
	</tr>
	<tr>
		<th><%= _(:users_average_tags_per_item) %></th>
		<td class="number"><%= @user.average_taggings_per_item %></td>
	</tr>
	<tr>
		<th><%= _(:users_percentage_tagged) %></th>
		<td class="number"><%=number_to_percentage @user.tagging_percentage %></td>
	</tr>
</table>

