<div class="item<%= ' read' if feed_item.read_by_current_user? %>" id="<%= dom_id(feed_item) %>">
  <div class="closed">
    <div class="status stop"></div>
    <%= link_to feed_item.feed_title, feed_path(feed_item.feed_id), :target => "_blank", :class => "feed_title stop" %>
    <span class="date"><%= format_date(feed_item.updated) %></span>
    <span class="title"><%= feed_item_title(feed_item) %></span> 
    <%= link_to_function _(:add_tag_link), "itemBrowser.toggleOpenCloseModerationPanel(this.up('.item'));", :id => dom_id(feed_item, "add_tag"), :class => "add_tag stop" %>
    <%= tag_controls(feed_item) %>
  </div>
  <div id="<%= dom_id(feed_item, 'tag_information') %>"><%= tag_infos(feed_item) %></div>
  <div id="<%= dom_id(feed_item, 'new_tag_form') %>" class="new_tag_form" style="display: none;" url="<%= moderation_panel_feed_item_path(feed_item) %>"></div> 
  <div id="<%= dom_id(feed_item, 'open') %>" class="open clearfix">
    <div id="<%= dom_id(feed_item, 'body') %>" class="body" url="<%= description_feed_item_path(feed_item) %>"></div>
  </div>
</div>
