<div id="<%= dom_id(feed) %>" class="feed clearfix <%= feed_classes(feed) %>">
  <div class="summary clearfix">        
    <div class="info">
      <div class="details">
        <label title="<%= t('winnow.general.globally_exclude_feed_tooltip') %>">
          <%= globally_exclude_feed_check_box(feed) %> <%= t("winnow.general.globally_exclude") %>
        </label>
      </div>
      <div class="count" title="<%= t('winnow.items.main.feed_info_item_count_tooltip') %>">
        <%= t("winnow.general.feed_items_count", :count => feed.feed_items_count) %>
      </div>
      <div class="date" title="<%= t('winnow.items.main.feed_info_added_date_tooltip') %>">
         <%= t("winnow.general.feed_created", :date => format_date(feed.created_on)) %>
      </div>
      <div class="updated" "title="<%= t('winnow.items.main.feed_info_updated_date_tooltip') %>">
         <%= t("winnow.general.feed_last_updated", :date => format_date(feed.updated_on)) %>
      </div>
    </div>    
    
    <div class="left clearfix"><%= feed_link(feed) %></div>
  </div>
</div>