<div class="item<%= feed_item.read_by_current_user? ? " read" : " unread" %>" id="<%= dom_id(feed_item) %>">
  <div class="closed">
    <span id="<%= dom_id(feed_item, 'status') %>" class="status"><%= toggle_read_unread_button %></span>
    <div class="opener" onclick="itemBrowser.toggleOpenCloseItem('<%= dom_id(feed_item) %>', event);">
      <span class="feed_title">
        <%= link_to feed_item.feed_title, feed_path(feed_item.feed_id), :id => dom_id(feed_item, "feed_link_for"), :class => "stop" %>
      </span>
      <span class="date"><%= format_date(feed_item.updated) %></span>
      <span class="title"><%= feed_item_title(feed_item) %></span> 
      <%= link_to_function _(:add_tag_link), "itemBrowser.toggleOpenCloseModerationPanel(this.up('.item'));", :id => dom_id(feed_item, "add_tag"), :class => "add_tag stop" %>
      <%= tag_controls(feed_item) %>
    </div>
  </div>  
  <div id="<%= dom_id(feed_item, 'new_tag_form') %>" class="new_tag_form" style="display: none;" url="<%= moderation_panel_feed_item_path(feed_item) %>"></div> 
  <div id="<%= dom_id(feed_item, 'open') %>" class="open">
    <%= link_to_function "Info", "itemBrowser.toggleOpenCloseTagInformationPanel('#{dom_id(feed_item)}');", :class => "info", :style => 'visibility:hidden' %>
    <div id="<%= dom_id(feed_item, 'tag_information') %>" style="display: none;" url="<%= info_feed_item_path(feed_item) %>" class="tag_information"></div>
    <div id="<%= dom_id(feed_item, 'body') %>" class="body" url="<%= description_feed_item_path(feed_item) %>"></div>
  </div>
</div>
