<div id="<%= dom_id(feed_item) %>" class="record feed_item<%= ' read' if feed_item.read_by_current_user? %>">
  <div class="closed clearfix">
    <div class="date"><%= format_date(feed_item.updated) %></div>
    <%= link_to_function _(:add_tag_link), "", :class => "add_tag stop" %>

  	<%= link_to_function "", "", :class => "status stop" %>
  	<h4><%= link_to_feed_item(feed_item, :class => "stop") %></h4>
  	<span class="description">
  		<% if feed_item.author.blank? -%>
        <%= _(:feed_item_feed_metadata, link_to_feed(feed_item.feed, :class => "stop")) %>
  		<% else -%>
  		  <%= _(:feed_item_metadata, link_to_feed(feed_item.feed, :class => "stop"), feed_item.author) %>
  		<% end -%>
  	</span>

    <%= tag_controls(feed_item) %>
    <div class="add_tag_form stop" style="display: none;" url="<%= add_tag_form_feed_item_path(feed_item) %>"></div> 
  </div>
  
  <div class="information stop clearfix"></div>
  <div class="body clearfix" url="<%= body_feed_item_path(feed_item) %>"></div>
</div>
