<div id="<%= dom_id(feed) %>" class="feed clearfix <%= feed_classes(feed) %>">
  <div class="summary clearfix">        
    <div class="info">
      <div class="details">
        <p>&nbsp;</p>
        <strong><%= globally_exclude_check_box(feed) %> <%= t("winnow.general.globally_exclude") %></strong>
      </div>
      <div class="count">
        <p>Items</p>
        <strong><%= feed.feed_items_count %></strong>
      </div>
      <div class="date">
         <p><%= t("winnow.general.created") %></p> 
         <strong><%= format_date(feed.created_on) %></strong>
      </div>
      <div class="date">
         <p><%= t("winnow.general.last_updated") %></p> 
         <strong><%= format_date(feed.updated_on) %></strong>
      </div>
    </div>    
    
    <h4 class="clearfix"><%= feed_link(feed) %></h4>  
  </div>
</div>