<div id="<%= dom_id(feed_item) %>" class="record feed_item<%= ' read' if feed_item.read_by_current_user? %> <%= current_tag_training(feed_item) %>">
  <div class="closed clearfix">
    <div class="date"><%= format_date(feed_item.updated) %></div>
  	<%= link_to_function feed_item_title(feed_item), "", :class => "title" %>
    <%= link_to(image_tag("external.gif"), feed_item.link, :target => "_blank", :title => t("winnow.items.main.open_original_feed_item"), :class => "stop") %>
    <%= feed_control_for(feed_item) %>
  </div>
  <div class="moderation_panel clearfix" url="<%= moderation_panel_feed_item_path(feed_item) %>"></div>
	<div class="feed_information" url="<%= feed_information_feed_item_path(feed_item) %>"></div>
  <div class="body clearfix" url="<%= body_feed_item_path(feed_item) %>"></div>
</div>
