<div class="item<%= ' read' if feed_item.read_by_current_user? %>" id="<%= dom_id(feed_item) %>">
  <div class="closed">
    <%= link_to_function "", "", :class => "status stop" %>
    <%= link_to feed_item.feed_title, feed_path(feed_item.feed_id), :target => "_blank", :class => "feed_title stop" %>
    <div class="date"><%= format_date(feed_item.updated) %></div>
    <div class="title"><%= feed_item_title(feed_item) %></div>
    <%= link_to_function _(:add_tag_link), "", :class => "add_tag stop" %>
    <%= tag_controls(feed_item) %>
    <div class="new_tag_form stop" style="display: none;" url="<%= moderation_panel_feed_item_path(feed_item) %>"></div> 
    <%= tag_infos(feed_item) %>
  </div>
  <div class="body" url="<%= description_feed_item_path(feed_item) %>"></div>
</div>
