<div class="folder<%= open_folder?(folder) ? " open" : "" %>" id="<%= dom_id(folder) %>" onmouseover="$(this).addClassName('editing')" onmouseout="$(this).removeClassName('editing')">
  <ul class="actions">
    <li><%= link_to_remote "Rename", :url => folder_path(folder), :method => :put, :with => %w|'folder[name]=' + name|, :condition => %W|name = prompt("Name?", $(this).up('.folder').down('.name').innerHTML)|, :html => { :class => "edit replace edit_icon" } %></li>
    <li><%= link_to_remote "Destroy", :url => folder_path(folder), :method => :delete, :confirm => "Are you sure?", :html => { :class => "destroy replace destroy_icon" } %></li>
  </ul>
  <div class="header" onclick="$(this).up('.folder').toggleClassName('open'); Cookie.set('<%= dom_id(folder) %>', $(this).up('.folder').hasClassName('open'), 365);">
    <%= link_to_function folder.name, "itemBrowser.setFilters({folder_id: #{folder.id}}); event.stop()", :class => "name" %>
  </div>
  <div class="items">
    <%= tag_filter_controls(folder.tags, :remove => folder, :ul_options => { :id => "#{dom_id(folder)}_tag_items", :class => "filter_list tags" }) %>
    <%= feed_filter_controls(folder.feeds, :remove => folder, :ul_options => { :id => "#{dom_id(folder)}_feed_items", :class => "filter_list feeds" }) %>
  </div>
</div>
<%= drop_receiving_element(dom_id(folder), :hoverclass => "hover", :url => add_item_folder_path(folder), :method => :put, :with => "'item_id=' + encodeURIComponent(element.id)") %>