<div class="possible_tags training_controls">
  <% (current_user.sidebar_tags - current_user.excluded_tags).each do |tag| -%>
    <% taggings = @feed_item.taggings.select { |t| t.user == current_user && t.tag == tag } %>
    <div class="tag <%= classes_for_taggings(taggings).join(' ') %>">
      <div class="positive"></div>
      <div class="negative"></div>
      <div class="remove"></div>
      <div class="tag_name"><%= tag.name %></div>
    </div>
  <% end -%>
</div>

<% form_tag "", :onsubmit => "return false;" do -%>
  <%= text_field_tag 'tag', nil %>
  <%= submit_tag _(:add_tag_button) %> or <%= link_to_function "cancel", "this.up('.feed_item')._item.toggleAddTagForm();"  %>
<% end -%>
