<%= link_to_function "Close", "", :class => "close" %>

<div class="training_controls">
  <% (current_user.sidebar_tags - current_user.excluded_tags).each do |tag| -%>
    <% taggings = @feed_item.taggings.select { |t| t.user == current_user && t.tag == tag } %>
    <%# Note: Update item.js when this changes %>
    <div class="tag <%= dom_id(tag) %> <%= classes_for_taggings(taggings).join(' ') %>" title=<%= tag_control_tooltip(tag, format_classifier_strength(taggings)) %>>
      <span class="clearfix">
        <div class="positive"></div>
        <div class="negative"></div>
        <div class="name"><%= tag.name %></div>
      </span>
      <div class="remove">X</div>
    </div>
  <% end -%>
</div>

<% form_tag "", :onsubmit => "return false;" do -%>
  <%= text_field_tag 'tag', nil %>
  <%= submit_tag _(:add_tag_button) %>
<% end -%>
