<%= text_field_tag 'tag', nil, :id => dom_id(feed_item, 'new_tag_field'), :onblur => "setTimeout(function() { itemBrowser.closeItemModerationPanel('#{dom_id(feed_item)}'); }, 100);", 
      :onkeydown => "if(event.keyCode == Event.KEY_ESC) { itemBrowser.closeItemModerationPanel('#{dom_id(feed_item)}'); }" %>
<div id="<%= dom_id(feed_item, 'new_tag_field') %>_auto_complete" class="auto_complete"></div>
<% javascript_tag do -%>
  auto_completers['<%= dom_id(feed_item, 'new_tag_field') %>_auto_completer'] = new Autocompleter.Local(
    '<%= dom_id(feed_item, 'new_tag_field') %>', '<%= dom_id(feed_item, 'new_tag_field') %>_auto_complete', 
    <%= (current_user.sidebar_tags - current_user.excluded_tags - feed_item.tags.from_user).map(&:name).to_json %>, 
    { partialChars: 1, fullSearch: true, choices: <%= current_user.sidebar_tags.size %>, persistent: ["Create Tag: '#{entry}'"],
      afterUpdateElement: function(input, choice) { 
        itemBrowser.closeItemModerationPanel('<%= dom_id(feed_item) %>'); add_tag('<%= dom_id(feed_item) %>', input.value); input.blur(); input.value = ""; } });
  itemBrowser.openItemModerationPanel('<%= dom_id(feed_item) %>');
  // TODO: need to update this local list when tag controls are clicked so they are always in sync
<% end -%>
<%= submit_tag "Add Tag", :onclick => "auto_completers['#{dom_id(feed_item, 'new_tag_field')}_auto_completer'].selectEntry();" %>
