<div class="training_controls clearfix">
  <% current_user.tags.by(:name, :asc).each do |tag| -%>
    <% taggings = @feed_item.taggings.select { |t| t.user == current_user && t.tag == tag } %>
    <% taggings_classes = classes_for_taggings(taggings) %>
    <% formatted_classifier_strength = format_classifier_strength(taggings) %>
    <%# Note: Update item.js when this changes %>
    <div id="<%= dom_id(tag) %>" class="tag <%= dom_id(tag) %> <%= taggings_classes.join(' ') %>" <%= 'strength="' + formatted_classifier_strength.to_s() + '"' if formatted_classifier_strength %> title="<%= tag_control_tooltip(tag, formatted_classifier_strength, taggings_classes) %>">
      <%= link_to_function h(tag.name), "", :class => "name", :"data-sort" => tag.sort_name %>
    </div>
  <% end -%>
</div>
