<div id="sidebar_edit_heading">
	<div id="sidebar_edit_toggle_label" title="<%= t('winnow.items.sidebar.training_controls_label_tooltip') %>"><%= t("winnow.items.sidebar.training_controls_label") %></div>
	<div id="sidebar_edit_toggle" class="closed" title="<%= t('winnow.items.sidebar.training_controls_toggle_closed_tooltip') %>"><span class="closed">+</span><span class="open">&ndash;</span></div>
</div>
    <div id="sidebar_edit" style="display: none">
	<div id="sidebar_edit_content">
          <fieldset>
            <legend title="<%= t('winnow.items.sidebar.search_legend_tooltip') %>"><%= t("winnow.items.sidebar.search_legend") %></legend>
              <a id="training_help_link" href="<%= t('winnow.items.sidebar.training_help_link') %>" target="_blank" title="<%= t('winnow.items.sidebar.training_help_link_tooltip') %>">?</a>
			<% form_tag feed_items_path, :id => "text_filter_form", :onsubmit => "return false;" do -%>
		    <%= text_field_tag "text_filter", params[:text_filter],
									:placeholder => t("winnow.items.header.feed_items_search_placeholder"),
									:title => t("winnow.items.header.feed_items_search_tooltip") %>
		  <% end -%>
          </fieldset>
                <div class="clearfix"></div>
		<fieldset>
			<legend title="<%= t('winnow.items.sidebar.create_tag_legend_tooltip') %>"><%= t("winnow.items.sidebar.create_tag_legend") %></legend>
			<% form_remote_tag :url => tags_path, :html => { :id => "new_tag_form" } do -%>
			  <%= text_field_tag 'name', nil, :title => t("winnow.items.main.tag_input_tooltip") %>
			  <%= submit_tag t("winnow.items.main.add_tag"), :title => t("winnow.items.main.add_tag_tooltip") %>
			<% end -%>
		</fieldset>
          <fieldset>
          <legend title="<%= t('winnow.items.sidebar.update_winnowtags_legend_tooltip') %>"><%= t("winnow.items.sidebar.update_winnowtags_legend") %></legend>
	  <div class="clearfix"></div>
		<%= render :partial => "classification_controls" %>
          </fieldset>
          <fieldset>
            <legend title="<%= t('winnow.items.sidebar.show_only_items_with_legend_tooltip') %>"><%= t("winnow.items.sidebar.show_only_items_with_legend") %></legend>
              <label for="trained_checkbox" id="trained_checkbox_label" title="<%= t('winnow.items.sidebar.trained_checkbox_unchecked_tooltip')%>">
                <%= check_box_tag "trained_checkbox", "1", false %>
                <%= t("winnow.items.sidebar.trained_checkbox_label") %>
              </label>
          </fieldset>
	</div>
    </div>
<div id="sidebar_normal">
	<ul id ="tag_filters" class="filter_list clearfix tags">
		<li id="tag_0" class="tag_0 tag all_tags" title="<%= t('winnow.items.sidebar.see_all_items_tooltip')%>">
			<span class="filter">
				<span id="name_tag_0" class="name"><%= t("winnow.demo.all_items") %></span>
			</span>
		</li>
		<li id="tag_container" class="tags">
			<ul id="user_tag_filters" class="filter_list tags"><%= tag_filter_controls(current_user.tags_for_sidebar) %></ul>
		</li>
	</ul>
</div>