<% content_for :body, "feed_items" %>

<% content_for :head do -%>
	<% javascript_tag do -%>
		var itemBrowser;
		var sidebar;
		Event.observe(window, 'load', function() {
			try {
				sidebar = new Sidebar();
				itemBrowser = new FeedItemsItemBrowser('feed_items', 'content', { 
				  modes: ["all", "trained"]
				});
	      itemBrowser.styleFilters();

	      new Classification(<%= classify_classifier_path.to_json %>, <%= status_classifier_path.to_json %>, <%= current_user.changed_tags.any?.to_json %>);
			} catch (e) {
				if (console) console.log(e);
				throw e;
			}
		});
  <% end -%>
<% end -%>

<% content_for :context_menu do -%>
	<%= render :partial => "tag_context_menu" %>
<% end -%>

<% content_for :header_controls do -%>
  <div id="sidebar_header">
    <%= t("winnow.demo.explanatory_text.updating", :item_count => FeedItem.count, :feed_count => Feed.count) %>
  </div>
  <div id="selectedFeed" style="display: none; float: left">
    <div class="text"><%= image_tag "info.png", :size => "16x16" %> Viewing only items from '<span id="filteredFeedTitle">My Feed Title</span>'</div>
    <%= rounded_button_function "Cancel", "itemBrowser.setFilters({feed_filter: null});", :class => 'first'%>
    <div class="clearfix"></div>
  </div>
  <div class="toolbar item_buttons">
      <%= rounded_button_function t("winnow.items.next_item"),     "", :title => t("winnow.items.next_item_tooltip"), :id => "next_unread"%>
  </div>

<% end -%>

<% content_for :sidebar do -%>
	<%= render :partial => "sidebar" %>
<% end %>
