<% content_for :body, "feed_items" %>

<% content_for :head do -%>
	<% javascript_tag do -%>
		var itemBrowser;
		document.observe('dom:loaded', function() {
			itemBrowser = new FeedItemsItemBrowser('feed_items', 'content', { orders: {
			  desc:      ["date", "strength"],
			  "default": "date"
			}});

      new Sidebar(<%= sidebar_feed_items_path.to_json %>, itemBrowser.filters, function() {
        itemBrowser.styleFilters();
      });
      
      new Classification(<%= classifier_path.to_json %>, <%= current_user.changed_tags.any?.to_json %>);
		});
  <% end -%>
<% end -%>

<% content_for :header_controls do -%>
  <% form_tag feed_items_path, :id => "text_filter_form", :onsubmit => "return false;" do -%>
    <%= search_field_tag "text_filter", params[:text_filter], :placeholder => _(:feed_items_search_placeholder) %>
  <% end -%>

  <div class="toolbar right">
    <div class="group">
      <label><%= _(:selected_filters) %></label>
      <%= rounded_button_function _(:clear_selected_filters), "", :icon => "clear", :id => "clear_selected_filters", :class => "first" %>
      <%= rounded_button_link _(:feed_for_selected_filters), "", :icon => "feed", :base_url => formatted_feed_items_path(:atom), :id => "feed_with_selected_filters" %>
    </div>
    
    <div class="group">
      <label><%= _(:show_label) %></label>        
      <%= rounded_button_function _(:show_all_label), "itemBrowser.addFilters({mode: 'all'})", :icon => "all", :id => "mode_all", :class => "first" %>
      <%= rounded_button_function _(:show_unread_label), "itemBrowser.addFilters({mode: 'unread'})", :icon => "unread", :id => "mode_unread" %>
      <%= rounded_button_function _(:show_trained_label), "itemBrowser.addFilters({mode: 'trained'})", :icon => "trained", :id => "mode_trained" %>
    </div>


    <div class="group">
      <label><%= _(:sort_label) %></label>        
      <%= rounded_button_function _(:sort_date_label),     "", :icon => "", :id => "order_date", :class => "first" %>
      <%= rounded_button_function _(:sort_strength_label), "", :icon => "", :id => "order_strength" %>
    </div>
  </div>
<% end -%>

<% content_for :sidebar, "" %>

<% content_for :footer do -%>	
  <div class="toolbar">
    <div class="group">
      <%= rounded_button_function _(:previous_item), "", :icon => "previous" %>  
      <%= rounded_button_function _(:next_item),     "", :icon => "next" %>
    </div>
  
    <%= rounded_button_function _(:mark_all_read),   "", :icon => "read" %>
  </div>
	
	<%= render :partial => "classification_controls" %>
<% end -%>