<% content_for :head do -%>
	<script type="text/javascript" charset="utf-8">
		var itemBrowser;
		document.observe('dom:loaded', function() {
			itemBrowser = new ItemBrowser('feed_items', 'content', { orders: {
			  desc:      ["date", "strength"],
			  "default": "date"
			}, tags: <%= (current_user.sidebar_tags - current_user.excluded_tags).map(&:name).to_json %> });
		});
	</script>
<% end -%>

<% content_for :sidebar do -%>
  <% javascript_tag do -%>
    document.observe('dom:loaded', function() { 
      new Sidebar(<%= sidebar_feed_items_path.to_json %>, itemBrowser.filters, function() {
        AppleSearch.setup();
        itemBrowser.styleFilters();
      });
    });
  <% end -%>
<% end -%>

<% content_for :footer do -%>
	<span id="previous-next-buttons">
		<%= image_submit_tag "previous.png", :onclick => "itemBrowser.openPreviousItem();" %>
		<%= image_submit_tag "next.png", :onclick => "itemBrowser.openNextItem();" %>
		<%= image_submit_tag "mark_read.png", :onclick => "itemBrowser.markAllItemsRead();" %>
	</span>
	<span id="feed_items_count" class="count"></span>
<% end -%>