<% content_for :head do -%>
	<script type="text/javascript" charset="utf-8">
		var itemBrowser;
		document.observe('dom:loaded', function() {
			itemBrowser = new ItemBrowser('feed_items', 'content', { orders: {
			  desc:      ["date", "strength"],
			  "default": "date"
			}, tags: <%= (current_user.sidebar_tags - current_user.excluded_tags).map(&:name).to_json %> });
		});
	</script>
<% end -%>

<% content_for :header_controls do -%>
  <% form_tag feed_items_path, :id => "text_filter_form", :onsubmit => "if($F('text_filter').length < 4) { Message.add('error', #{_(:search_term_too_short).to_json}); } else { itemBrowser.addFilters({text_filter: $F('text_filter')}); } return false;" do -%>
    <%= search_field_tag "text_filter", params[:text_filter], :placeholder => _(:feed_items_search_placeholder), :clear => { :onclick => "itemBrowser.addFilters({text_filter: null});" } %>
  <% end -%>

  <ul class="control_bar">
    <li class="selected_filters">
      Selected Filters:
      <%= link_to_function _(:clear_selected_filters), "itemBrowser.clearFilters()", :id => "clear_selected_filters" %>
      <%= link_to _(:feed_for_selected_filters), "", :base_url => formatted_feed_items_path(:atom), :class => "feed_icon", :id => "feed_with_selected_filters" %>
    </li>
    <li class="choice_filter">
      <%= _(:show_label) %>
      <%= link_to_function _(:show_all_label), "itemBrowser.addFilters({mode: 'all'})", :id => "mode_all" %>, 
      <%= link_to_function _(:show_unread_label), "itemBrowser.addFilters({mode: 'unread'})", :id => "mode_unread" %>, 
      <%= link_to_function _(:show_moderated_label), "itemBrowser.addFilters({mode: 'moderated'})", :id => "mode_moderated" %>
    </li>
    <li class="order">
      <%= _(:sort_label) %>                                                                                                              
      <%= link_to_function _(:sort_date_label), "itemBrowser.setOrder('date')", :id => "order_date" %>, 
      <%= link_to_function _(:sort_strength_label), "itemBrowser.setOrder('strength')", :id => "order_strength" %>
    </li>                                                                                                                 
  </ul>
<% end -%>

<% content_for :sidebar do -%>
  <% javascript_tag do -%>
    document.observe('dom:loaded', function() { 
      new Sidebar(<%= sidebar_feed_items_path.to_json %>, itemBrowser.filters, function() {
        AppleSearch.setup();
        itemBrowser.styleFilters();
      });
    });
  <% end -%>
<% end -%>

<% content_for :footer do -%>
	<span id="previous-next-buttons">
		<%= image_submit_tag "previous.png", :onclick => "itemBrowser.openPreviousItem();" %>
		<%= image_submit_tag "next.png", :onclick => "itemBrowser.openNextItem();" %>
		<%= image_submit_tag "mark_read.png", :onclick => "itemBrowser.markAllItemsRead();" %>
	</span>
	
	<%= render :partial => "classification_controls" %>
<% end -%>