<% content_for :head do -%>
	<script type="text/javascript" charset="utf-8">
		var itemBrowser;
		document.observe('dom:loaded', function() {
			itemBrowser = new ItemBrowser('feed_items', 'content', { orders: {
			  desc:      ["date", "strength"],
			  "default": "date"
			}, tags: <%= (current_user.sidebar_tags - current_user.excluded_tags).map(&:name).to_json %> });
		});
	</script>
<% end -%>

<% content_for :header_controls do -%>
  <% form_tag feed_items_path, :id => "text_filter_form", :onsubmit => "if($F('text_filter').length < 4) { Message.add('error', #{_(:search_term_too_short).to_json}); } else { itemBrowser.addFilters({text_filter: $F('text_filter')}); } return false;" do -%>
    <%= search_field_tag "text_filter", params[:text_filter], :placeholder => _(:feed_items_search_placeholder), :clear => { :onclick => "itemBrowser.addFilters({text_filter: null});" } %>
  <% end -%>

  <div class="control_bar">
    <div class="toolbar">
      <div class="group">
        <label><%= _(:selected_filters) %></label>
        <%= rounded_button_function _(:clear_selected_filters), "itemBrowser.clearFilters()", :icon => "clear", :id => "clear_selected_filters", :class => "first" %>
        <%= rounded_button_link _(:feed_for_selected_filters), "", :icon => "feed", :base_url => formatted_feed_items_path(:atom), :id => "feed_with_selected_filters" %>
      </div>
      
      <div class="group">
        <label><%= _(:show_label) %></label>        
        <%= rounded_button_function _(:show_all_label), "itemBrowser.addFilters({mode: 'all'})", :id => "mode_all", :class => "first" %>
        <%= rounded_button_function _(:show_unread_label), "itemBrowser.addFilters({mode: 'unread'})", :icon => "unread", :id => "mode_unread" %>
        <%= rounded_button_function _(:show_moderated_label), "itemBrowser.addFilters({mode: 'moderated'})", :id => "mode_moderated" %>
      </div>


      <div class="group">
        <label><%= _(:sort_label) %></label>        
        <%= rounded_button_function _(:sort_date_label), "itemBrowser.setOrder('date')", :icon => "", :id => "order_date", :class => "first" %>
        <%= rounded_button_function _(:sort_strength_label), "itemBrowser.setOrder('strength')", :icon => "", :id => "order_strength" %>
      </div>
    </div>
  </div>
<% end -%>

<% content_for :sidebar do -%>
  <% javascript_tag do -%>
    document.observe('dom:loaded', function() { 
      new Sidebar(<%= sidebar_feed_items_path.to_json %>, itemBrowser.filters, function() {
        AppleSearch.setup();
        itemBrowser.styleFilters();
      });
    });
  <% end -%>
<% end -%>

<% content_for :footer do -%>
	<span id="previous-next-buttons">
		<%= image_submit_tag "previous.png", :onclick => "itemBrowser.openPreviousItem();" %>
		<%= image_submit_tag "next.png", :onclick => "itemBrowser.openNextItem();" %>
		<%= image_submit_tag "mark_read.png", :onclick => "itemBrowser.markAllItemsRead();" %>
	</span>
	
	<%= render :partial => "classification_controls" %>
<% end -%>