<% content_for :body, "feed_items" %>

<% content_for :head do -%>
	<% javascript_tag do -%>
		var itemBrowser;
		var sidebar;
		Event.observe(window, 'load', function() {
			try {
				sidebar = new Sidebar();
				itemBrowser = new FeedItemsItemBrowser('feed_items', 'content', { 
				  modes: ["all", "trained"]
				});
	      itemBrowser.styleFilters();

	      new Classification(<%= classify_classifier_path.to_json %>, <%= status_classifier_path.to_json %>, <%= current_user.changed_tags.any?.to_json %>);
			} catch (e) {
				if (console) console.log(e);
				throw e;
			}
		});
  <% end -%>
<% end -%>

<% content_for :context_menu do -%>
	<%= render :partial => "tag_context_menu" %>
<% end -%>

<% content_for :header_controls do -%>
  
  <div class="toolbar sidebar_buttons">
		<div class="group">
			<h4>Tags</h4>
			<%= rounded_button_function "Train", "sidebar.toggleEdit();", :title => "Click to edit tags", :class => "first", :id => "sidebarEditToggle" %>
		</div>
	</div>

  <div class="toolbar item_buttons">
    <div class="group">
      <%#= rounded_button_function t("winnow.items.previous_item"), "", :icon => "previous", :title => t("winnow.items.previous_item_tooltip"), :id => "previous_unread" %>
      <%= rounded_button_function t("winnow.items.next_item"),     "", :title => t("winnow.items.next_item_tooltip"), :id => "next_unread"%>
    </div>
		<div id="selectedFeed" style="display: none">
			<div class="text"><%= image_tag "info.png", :size => "16x16" %> Viewing only items from '<span id="filteredFeedTitle">My Feed Title</span>'</div>
			<%= rounded_button_function "Cancel", "itemBrowser.setFilters({feed_filter: null});", :class => 'first small'%>
			<div class="clearfix"></div>
		</div>
  </div>

<% end -%>

<% content_for :sidebar do -%>
	<%= render :partial => "sidebar" %>
<% end %>
