<% if tag.comments.empty? -%>
  <div class="empty"><%= _(:no_comments_for_this_tag) %></div>
<% else -%>
  <%= render :partial => "comments/comment.html.erb", :collection => tag.comments %>
<% end -%>

<div class="block comment_form clearfix">
  <h5><%= _(:add_a_comment) %></h5>
  
  <% form_remote_for :comment, :url => comments_path do |form|  -%>
    <%= form.hidden_field :tag_id, :value => tag.id %>
    <%= form.text_area :body %>
    <div class="input">
      <div class="errors" id="<%= dom_id(tag, 'new_comment_error') %>"></div>
      <%= submit_tag 'Submit' %>
    </div>
  <% end -%>
</div>