<% if tag.comments.empty? -%>
  <div class="empty"><%= t("winnow.tags.general.no_comments") %></div>
<% else -%>
  <%= render :partial => "comments/comment.html.erb", :collection => tag.comments %>
<% end -%>

<div class="block comment_form clearfix">
  <h5><%= t("winnow.tags.main.add_a_comment") %></h5>
  
  <% form_remote_for :comment, :url => comments_path do |form|  -%>
    <%= form.hidden_field :tag_id, :value => tag.id %>
    <%= form.text_area :body %>
    <span class="reference"><%= t("winnow.general.textile_reference") %></span>
    <div class="input">
      <div class="errors" id="<%= dom_id(tag, 'new_comment_error') %>"></div>
      <%= submit_tag t("winnow.general.submit") %>
    </div>
  <% end -%>
</div>