<% form_for :tag, @tag, :url => {:action => 'update', :id => @tag}, :html => {:method => :put, :id => dom_id(@tag, 'form'), 
			:style => 'display: none',
			:onsubmit => "return validate_tag_edit(#{@tag.name.to_json}, $('#{dom_id(@tag, 'tag_name_for')}').value)"} do |f| -%>
<fieldset>
	<legend>Rename or merge a tag</legend>
	<p>Enter a new name to rename or an existing one to merge.<br/>Existing names will appear in a drop down list as you type.</p>
	<p>
		<label for="tag_name">New tag name</label>
		<%= f.text_field(:name, :id => dom_id(@tag, 'tag_name_for')) %>
		<%= image_tag 'indicator.gif', :id => dom_id(@tag, 'tag_name_indicator'), :style => 'display: none' %>
	</p>
	<%= content_tag('div','', :id => dom_id(@tag, 'tag_name_for') + '_auto_complete', :class => 'auto_complete') %>
	<div id="tag_name_auto_complete" class="auto_complete"></div>
	<%= auto_complete_stylesheet %>
	<%= auto_complete_field dom_id(@tag, 'tag_name_for'), 
							:indicator => dom_id(@tag, 'tag_name_indicator'),
							:url => {
								:controller => 'tags', 
								:action => 'auto_complete_for_tag_name',
								:id => @tag
							} %>
	<p>
		<label>&nbsp;</label>
		<%= submit_tag 'Save', :name => 'save'%>
		<%= cancel_link(@tag) %>
	</p>
</fieldset>
<% end -%>