<% form_tag public_tags_path, :id => "text_filter_form", :onsubmit => "return false" do -%>
  <%= search_field_tag "text_filter", params[:text_filter], :placeholder => t(:tags_header_search_placeholder) %>
<% end -%>

<div class="order clearfix">
  <label><%= t(:sort_label) %></label>        
  <select id="order">
    <option value="name"><%= t(:tags_header_name) %></option>
    <option value="state"><%= t(:tags_header_state) %></option>
    <option value="comments_count"><%= t(:tags_header_comments) %></option>
    <option value="positive_count"><%= t(:tags_header_positive) %></option>
    <option value="negative_count"><%= t(:tags_header_negative) %></option>
    <option value="classifier_count"><%= t(:tags_header_automatic) %></option>
    <option value="last_trained"><%= t(:tags_header_last_trained) %></option>
  </select>
  <%= link_to_function "<span class='asc'>Ascending</span><span class='desc'>Descending</span>", "", :id => "direction" %>
</div>
