<% form_tag public_tags_path, :id => "text_filter_form", :onsubmit => "return false" do -%>
  <%= text_field_tag "text_filter", params[:text_filter], :placeholder => t("winnow.tags.header.search_placeholder"), :title => t("winnow.tags.header.search_tooltip") %>
  <span id="search_clear" style="display: none" title="<%= t('winnow.general.search_clear_icon_tooltip') %>"></span>
<% end -%>

<div class="order clearfix">
  <label title="<%= t('winnow.tags.header.tag_sort_label_tooltip') %>"><%= t("winnow.general.sort_label") %></label>
  <select id="order">
    <option value="name"><%= t("winnow.tags.attributes.name") %></option>
    <option value="state"><%= t("winnow.tags.attributes.state") %></option>
    <option value="comments_count"><%= t("winnow.tags.attributes.comments") %></option>
    <option value="positive_count"><%= t("winnow.tags.attributes.positive") %></option>
    <option value="negative_count"><%= t("winnow.tags.attributes.negative") %></option>
    <option value="classifier_count"><%= t("winnow.tags.attributes.automatic") %></option>
    <option value="last_classified"><%= t("winnow.tags.attributes.last_classified") %></option>
    <option value="last_trained"><%= t("winnow.tags.attributes.last_trained") %></option>
  </select>
  <%= direction_link %>
</div>

<% if is_admin? -%>
<div class="toolbar right">
  <%= rounded_button_function t("winnow.tags.header.upload"), "$('upload_tag').toggle()", :icon => "add", :title => t("winnow.tags.header.upload_tooltip") %>
</div>

<div id="upload_tag" style="clear:both;<%= flash[:error] ? '' : 'display:none' %>">
  <fieldset class="full">
    <legend><%= t("winnow.tags.header.upload") %></legend>

    <% form_tag upload_tags_path, :method => :post, :multipart => true do -%>
      <p><%= t("winnow.tags.header.upload_description") %></p>
      <p>
        <%= file_field_tag 'atom', :size => 60, :title => t("winnow.tags.header.upload_tooltip") %>
        <%= submit_tag t("winnow.tags.header.upload_button") %> 
      </p>
    <% end -%>    
  </fieldset>
</div>

<% end -%>
