<% form_tag public_tags_path, :id => "text_filter_form", :onsubmit => "return false" do -%>
  <%= text_field_tag "text_filter", params[:text_filter], :placeholder => t("winnow.tags.header.search_placeholder"), :title => t("winnow.tags.header.search_tooltip") %>
<% end -%>

<div class="order clearfix">
  <label><%= t("winnow.general.sort_label") %></label>        
  <select id="order">
    <option value="name"><%= t("winnow.tags.attributes.name") %></option>
    <option value="state"><%= t("winnow.tags.attributes.state") %></option>
    <option value="comments_count"><%= t("winnow.tags.attributes.comments") %></option>
    <option value="positive_count"><%= t("winnow.tags.attributes.positive") %></option>
    <option value="negative_count"><%= t("winnow.tags.attributes.negative") %></option>
    <option value="classifier_count"><%= t("winnow.tags.attributes.automatic") %></option>
    <option value="last_classified"><%= t("winnow.tags.attributes.last_classified") %></option>
    <option value="last_trained"><%= t("winnow.tags.attributes.last_trained") %></option>
  </select>
  <%= direction_link %>
</div>
