<% form_tag public_tags_path, :id => "text_filter_form", :onsubmit => "itemBrowser.addFilters({text_filter: $F('text_filter')}); return false;" do -%>
  <%= search_field_tag "text_filter", params[:text_filter], :placeholder => _(:tags_header_search_placeholder), :clear => { :onclick => "itemBrowser.addFilters({text_filter: null});" } %>
<% end -%>

<ul class="control_bar">
  <li class="order">
    <%= _(:tags_header_sort_label) %>
    <%= link_to_function _(:tags_header_name), "itemBrowser.setOrder('name')", :id => "order_name" %>,
    <%= link_to_function _(:tags_header_state), "itemBrowser.setOrder('state')", :id => "order_state" %>,
    <%= link_to_function _(:tags_header_comments), "itemBrowser.setOrder('comments_number')", :id => "order_comments_number" %>,
    <%= link_to_function _(:tags_header_positive), "itemBrowser.setOrder('positive_count')", :id => "order_positive_count" %>,
    <%= link_to_function _(:tags_header_negative), "itemBrowser.setOrder('negative_count')", :id => "order_negative_count" %>,  
    <%= link_to_function _(:tags_header_automatic), "itemBrowser.setOrder('classifier_count')", :id => "order_classifier_count" %>,
    <%= link_to_function _(:tags_header_last_trained), "itemBrowser.setOrder('last_trained')", :id => "order_last_trained" %>
  </li>
</ul>
