<ul class="control_bar">
  <li>
    Sort:
    <%= link_to_function "Name",             "itemBrowser.addFilters({order: 'name'})",             :id => "order_name" %>, 
    <%= link_to_function "Last Trained",     "itemBrowser.addFilters({order: 'last_used_by'})",     :id => "order_last_used_by" %>, 
    <%= link_to_function "Training (+/-)",   "itemBrowser.addFilters({order: 'training_count'})",   :id => "order_training_count" %>,
    <%= link_to_function "Automatic",        "itemBrowser.addFilters({order: 'classifier_count'})", :id => "order_classifier_count" %>,
    <%= link_to_function "Globally Exclude", "itemBrowser.addFilters({order: 'globally_exclude'})", :id => "globally_exclude" %>
  </li>
</ul>

<% form_tag public_tags_path, :method => :get, :onsubmit => "resizeContent(); itemBrowser.addFilters({text_filter: $F('text_filter')}); return false;" do -%>
  <%= search_field_tag "text_filter", params[:text_filter], :placeholder => "Search Tags...", :clear => { :onclick => "itemBrowser.addFilters({text_filter: null});" } %>
<% end -%>
