<ul class="control_bar">
  <li class="order">
    <%= _(:tags_header_sort_label) %>
    
    <%= link_to_function _(:tags_header_name), "itemBrowser.setOrder('name')", :id => "order_name" %>, 
    <%= link_to_function _(:tags_header_globally_exclude), "itemBrowser.setOrder('globally_exclude')", :id => "order_globally_exclude" %>,    

    <%= link_to_function _(:tags_header_positive), "itemBrowser.setOrder('positive_count')", :id => "order_positive_count" %>,
    <%= link_to_function _(:tags_header_negative), "itemBrowser.setOrder('negative_count')", :id => "order_negative_count" %>,  
    <%= link_to_function _(:tags_header_automatic), "itemBrowser.setOrder('classifier_count')", :id => "order_classifier_count" %>,
    <%= link_to_function _(:tags_header_last_trained), "itemBrowser.setOrder('last_used_by')", :id => "order_last_used_by" %>
  </li>
</ul>

<% form_tag public_tags_path, :onsubmit => "itemBrowser.addFilters({text_filter: $F('text_filter')}); return false;" do -%>
  <%= search_field_tag "text_filter", params[:text_filter], :placeholder => _(:tags_header_search_placeholder), :clear => { :onclick => "itemBrowser.addFilters({text_filter: null});" } %>
<% end -%>
