<div id="<%= dom_id(public_tag) %>" class="tag public clearfix">
  <div class="name_and_comment clearfix">
    <div class="name">
      <%= tag_name_with_tooltip(public_tag) %>
    </div>

    <div class="comment">
      <%= public_tag.comment %>
    </div>
  </div>
  
  <div class="controls_and_training clearfix">
    <dl class="training clearfix">
      <dt>Last Trained</dt>
      <dd><%= format_date(public_tag.last_used_by) %></dd>
      <dt>Training</dt>
      <dd><%= link_to "+#{public_tag.positive_count} / -#{public_tag.negative_count}", feed_items_path(:anchor => "tag_ids=#{public_tag.id}&manual_taggings=true"), :title => "Inspect #{public_tag.name}" %></dd>
      <dt>Automatic</dt>
      <dd><%= public_tag.classifier_count %></dd>
      <dd class="feed"><%= link_to "Feed", formatted_public_tag_path(public_tag.user, public_tag, :atom), :class => "feed_icon replace" %></dd>
    </dl>

    <ul class="controls">
      <li class="first"><%= bias_slider(public_tag, :disabled => true) %></li>
      <li><%= globally_exclude_check_box(public_tag) %> Globally Exclude</li>
      <li>
  			<%= check_box_tag dom_id(public_tag, "subscribe"), "1", current_user.subscribed?(public_tag), :disabled => current_user == public_tag.user,
  						:onclick => remote_function(:url => subscribe_tag_path(public_tag), :method => 'put', :with => "{ subscribe: this.checked }") %> Subscribe
      </li>
      <li><%= link_to "Show", feed_items_path(:anchor => "tag_ids=#{public_tag.id}"), :class => 'show_icon', :title => "Show Only Items Tagged With #{public_tag.name}" %></li>
      <li><%= link_to_remote "Copy", :url => tags_path(:copy => public_tag), :with => "{name: name}", :condition => %W|name = prompt("Name:", "#{public_tag.name} - copy")|, :html => { :title => "Copy #{public_tag.name}", :class => "duplicate_icon" } %></li>
    </ul>
  </div>
</div>