<div id="<%= dom_id(public_tag) %>" class="tag record public clearfix <%= tag_classes(public_tag) %>">
  <%= render :partial => "summary.html.erb", :locals => { :tag => public_tag, :disabled => true } %>
  
  <div class="extended" style="display:none">  
    <div class="comments clearfix" url="<%= comments_tag_path(public_tag) %>"></div>
    <div class="sidebar">      
      <div class="block actions">
        <ul class="controls">
          <li class="first slider_control clearfix">
            <h4>Apply <span><%=h public_tag.name %></span> to:</h4>
            <span class="fewer">Fewer Items</span> <%= bias_slider_html(public_tag) %> <span class="more">More Items</span>
          </li>
          <li class="state">
            <%= render :partial => "state.html.erb", :locals => { :tag => public_tag } %>
          </li>
          <li><%= link_to_remote _(:copy), :url => tags_path(:copy => public_tag), :with => "{name: name}", :condition => %W|name = prompt("Name:", #{public_tag.name.to_json} + " - copy")|, :html => { :class => "copy" } %></li>
          <li><%= link_to _(:view_all_items, h(public_tag.name)), feed_items_path(:anchor => "tag_ids=#{public_tag.id}"), :class => 'show' %></li>
          <li><%= link_to _(:view_tagged_items, h(public_tag.name)), feed_items_path(:anchor => "tag_ids=#{public_tag.id}&mode=trained"), :class => "show" %></li>
          <li><%= link_to _(:tags_feed_link), url_for(:user => public_tag.user, :tag_name => public_tag.name, :action => 'show', :format => :atom), :class => "feed" %></li>
        </ul>
      </div>

      <%= render :partial => "stats.html.erb", :locals => { :tag => public_tag } %>
    </div>
  </div>
</div>