<div id="<%= dom_id(public_tag) %>" class="tag record public clearfix <%= tag_classes(public_tag) %>">
  <%= render :partial => "summary.html.erb", :locals => { :tag => public_tag } %>
  
  <div class="extended" style="display:none">  
    <%= render :partial => "comments.html.erb", :locals => { :tag => public_tag } %>
      
    <div class="sidebar">      
      <div class="block actions clearfix">
        <h5><%= _(:actions) %></h5>
        <ul class="controls">
          <li class="first"><%= bias_slider(public_tag, :disabled => true) %></li>
          <li class="globally_excluded"><%= globally_exclude_check_box(public_tag) %> <%= _(:tags_globally_exclude) %></li>
          <li class="subscribed<%= tag_subscription_checkbox_disabled?(public_tag) ? " disabled" : "" %>"><%= subscribed_check_box(public_tag)  %> <%= _(:tags_subscribe) %>
    			</li>
          <li><%= link_to_remote _(:copy), :url => tags_path(:copy => public_tag), :with => "{name: name}", :condition => %W|name = prompt("Name:", "#{public_tag.name} - copy")|, :html => { :title => _(:tags_copy_link_title, public_tag.name), :class => "duplicate_icon" } %></li>
          <li><%= link_to _(:view_all_items, public_tag.name), feed_items_path(:anchor => "tag_ids=#{public_tag.id}"), :class => 'view_icon' %></li>
          <li><%= link_to _(:view_tagged_items, public_tag.name), feed_items_path(:anchor => "tag_ids=#{public_tag.id}&mode=moderated"), :class => "view_icon" %></li>
          <li><%= link_to _(:tags_feed_link), url_for(:user => public_tag.user, :tag_name => public_tag.name, :action=> 'show', :format => :atom), :class => "feed_icon" %></li>
        </ul>
      </div> <!-- /.actions -->
    </div>
  </div> <!-- /.extended -->
</div>