<% if tag.user_id == current_user.id -%>
  <%= globally_exclude_check_box(tag) %> <label for="<%= dom_id(tag, 'globally_exclude') %>"><%= _(:tags_globally_exclude) %></label>
<% else -%>
  <span><%= radio_button_tag dom_id(tag, "state"), "globally_exclude", tag.globally_excluded_by_current_user?, :id => "#{dom_id(tag, 'globally_exclude')}", :onclick => remote_function(:url => update_state_tag_path(tag), :method => 'put', :with => "{ state: 'globally_exclude' }") %> <label for="<%= dom_id(tag, 'globally_exclude') %>"><%= "Exclude" %></label></span>
  <span><%= radio_button_tag dom_id(tag, "state"), "subscribe", tag.subscribed_by_current_user?, :id => "#{dom_id(tag, 'subscribe')}", :onclick => remote_function(:url => update_state_tag_path(tag), :method => 'put', :with => "{ state: 'subscribe' }") %> <label for="<%= dom_id(tag, 'subscribe') %>"><%= _(:tags_subscribe) %></label></span> 
  <span><%= radio_button_tag dom_id(tag, "state"), "neither", !(tag.globally_excluded_by_current_user? || tag.subscribed_by_current_user?), :id => "#{dom_id(tag, 'neither')}", :onclick => remote_function(:url => update_state_tag_path(tag), :method => 'put', :with => "{ state: 'neither' }") %> <label for="<%= dom_id(tag, 'neither') %>">Neither</label></span>
<% end %>