<% if tag.user == current_user -%>
  <%= globally_exclude_check_box(tag) %> <label for="<%= dom_id(tag, 'globally_exclude') %>"><%= _(:tags_globally_exclude) %></label>
<% else -%>
  <%= radio_button_tag dom_id(tag, "state"), "globally_exclude", current_user.globally_excluded?(tag), :id => "#{dom_id(tag, 'globally_exclude')}", :onclick => remote_function(:url => update_state_tag_path(tag), :method => 'put', :with => "{ state: 'globally_exclude' }") %> <label for="<%= dom_id(tag, 'globally_exclude') %>"><%= "Exclude" %></label>
  <%= radio_button_tag dom_id(tag, "state"), "subscribe", current_user.subscribed?(tag), :id => "#{dom_id(tag, 'subscribe')}", :onclick => remote_function(:url => update_state_tag_path(tag), :method => 'put', :with => "{ state: 'subscribe' }") %> <label for="<%= dom_id(tag, 'subscribe') %>"><%= _(:tags_subscribe) %></label> 
  <%= radio_button_tag dom_id(tag, "state"), "neither", !(current_user.globally_excluded?(tag) || current_user.subscribed?(tag)), :id => "#{dom_id(tag, 'neither')}", :onclick => remote_function(:url => update_state_tag_path(tag), :method => 'put', :with => "{ state: 'neither' }") %> <label for="<%= dom_id(tag, 'neither') %>">Neither</label>
<% end %>