<div class="block stats">
  <h4><%= t("winnow.tags.main.stats") %></h4>
  <div class="field clearfix">
    <label><%= t("winnow.tags.main.subscribers") %></label>
    <span><%= tag.tag_subscriptions.count %></span>
  </div>
  <div class="field clearfix">
    <label><%= t("winnow.tags.main.usage") %></label>
    <span><%= tag.usages.count %></span>
  </div>
</div>