<div id="<%= dom_id(subscribed_tag) %>" class="tag record public clearfix <%= tag_classes(subscribed_tag) %>">
  <%= render :partial => "summary.html.erb", :locals => { :tag => subscribed_tag, :disabled => true } %>
  
  <div class="extended" style="display:none">  
    <div class="comments clearfix" url="<%= comments_tag_path(subscribed_tag) %>"></div>
    <div class="sidebar">      
      <div class="block actions clearfix">
        <ul class="controls">
          <li class="first slider_control clearfix">
            <h4>Apply <span><%= subscribed_tag.name %></span> to:</h4>
            <span class="fewer">Fewer Items</span> <%= bias_slider_html(subscribed_tag) %> <span class="more">More Items</span>
          </li>
          <li class="state">
            <%= render :partial => "state.html.erb", :locals => { :tag => subscribed_tag } %>
          </li>
          <li><%= link_to_remote _(:copy), :url => tags_path(:copy => subscribed_tag), :with => "{name: name}", :condition => %W|name = prompt("Name:", "#{subscribed_tag.name} - copy")|, :html => { :title => _(:tags_copy_link_title, subscribed_tag.name), :class => "copy" } %></li>
          <li><%= link_to _(:view_all_items, subscribed_tag.name), feed_items_path(:anchor => "tag_ids=#{subscribed_tag.id}"), :class => 'show' %></li>
          <li><%= link_to _(:view_tagged_items, subscribed_tag.name), feed_items_path(:anchor => "tag_ids=#{subscribed_tag.id}&mode=trained"), :class => "show" %></li>
          <li><%= link_to _(:tags_feed_link), url_for(:user => subscribed_tag.user, :tag_name => subscribed_tag.name, :action=> 'show', :format => :atom), :class => "feed" %></li>
        </ul>
      </div>
        
      <%= render :partial => "stats.html.erb", :locals => { :tag => subscribed_tag } %>
    </div>
  </div>
</div>