<div id="<%= dom_id(tag) %>" class="tag record clearfix <%= tag_classes(tag) %>">
  <%= render :partial => "summary.html.erb", :locals => { :tag => tag, :editable => tag.user_id == current_user.id } %>
  
  <div class="extended" style="display:none">  
    <div class="comments clearfix" url="<%= comments_tag_path(tag) %>"></div>
    <div class="sidebar">      
      <div class="block actions clearfix">
        <ul class="controls">
          <li class="first slider_control clearfix">
            <h4>Apply <span><%=h tag.name %></span> to:</h4>
            <span class="fewer">Fewer Items</span> <%= bias_slider_html(tag) %> <span class="more">More Items</span>
          </li>
          <li class="globally_exclude">
            <%= globally_exclude_check_box(tag) %> <label for="<%= dom_id(tag, 'globally_exclude') %>"><%= t(:globally_exclude) %></label>
          </li>
          <li class="subscribe">
            <% if tag.user_id != current_user.id -%>
              <%= subscribe_check_box(tag) %> <label for="<%= dom_id(tag, 'subscribe') %>"><%= t(:tags_subscribe) %></label>
            <% end %>
          </li>
          <% if tag.user_id == current_user.id -%>
            <li class="public">
              <%= check_box_tag dom_id(tag, "public"), "1", tag.public?, :onclick => remote_function(:url => publicize_tag_path(tag), :method => 'put', :with => "{ public: this.checked }") %> <label for="<%= dom_id(tag, "public") %>"><%= t(:tags_public) %></label>
            </li>
          <% end -%>
          <li><%= link_to_remote t(:copy), :url => tags_path(:copy => tag), :with => "{name: name}", :condition => %W|name = prompt("Name:", #{tag.name.to_json} + " - copy")|, :html => { :class => "copy" } %></li>
          <% if tag.user_id == current_user.id -%>
            <li><%= link_to_remote t(:destroy), :url => tag_path(tag), :method => 'delete', :confirm => t(:tags_destroy_confirm_text, :tag => tag.name), :html => { :title => t(:tags_destroy_link_title, :tag => tag.name), :class => "destroy", :id => dom_id(tag, 'destroy') } %></li>
          <% end -%>
          <li><%= link_to t(:view_all_items, :tag => h(tag.name)), feed_items_path(:anchor => "tag_ids=#{tag.id}"), :class => 'show' %></li>
          <li><%= link_to t(:view_tagged_items, :tag => h(tag.name)), feed_items_path(:anchor => "tag_ids=#{tag.id}&mode=trained"), :class => "show" %></li>
          <li><%= link_to t(:tags_feed_link), url_for(:user => tag.user_login, :tag_name => tag.name, :action => 'show', :format => :atom), :class => "feed" %></li>
        </ul>
      </div>
      
      <%= render :partial => "stats.html.erb", :locals => { :tag => tag } %>
    </div>
  </div>
</div>