<div id="<%= dom_id(tag) %>" class="tag record clearfix <%= tag_classes(tag) %>">
  <%= render :partial => "summary.html.erb", :locals => { :tag => tag, :editable => tag.user_id == current_user.id } %>
  
  <div class="extended" style="display:none">  
    <div class="comments clearfix" url="<%= comments_tag_path(tag) %>"></div>
    <div class="sidebar">      
      <div class="block actions clearfix">
        <ul class="controls">
          <li class="first slider_control clearfix">
            <h4 id="<%= dom_id(tag, 'apply') %>"><%= t("winnow.tags.main.apply_to", :tag => tag.name) %>:</h4>
            <span class="fewer"><%= t("winnow.tags.main.fewer_items") %></span> <%= bias_slider_html(tag) %> <span class="more"><%= t("winnow.tags.main.more_items") %></span>
          </li>
          <li class="globally_exclude">
            <%= globally_exclude_check_box(tag) %> <label title="<%= t('winnow.general.globally_exclude_tooltip') %>" for="<%= dom_id(tag, 'globally_exclude') %>"><%= t("winnow.general.globally_exclude") %></label>
          </li>
          <% if tag.user_id != current_user.id -%>
            <li class="subscribe">
              <%= subscribe_check_box(tag) %> <label title="<%= t("winnow.tags.main.subscribe_tooltip") %>" for="<%= dom_id(tag, 'subscribe') %>"><%= t("winnow.tags.main.subscribe") %></label>
            </li>
          <% end %>
          <% if tag.user_id == current_user.id -%>
            <li class="public">
              <%= check_box_tag dom_id(tag, "public"), "1", tag.public?, :title => t("winnow.tags.main.public_tooltip"), :onclick => remote_function(:url => publicize_tag_path(tag), :method => 'put', :with => "{ public: this.checked }") %> <label title="<%= t("winnow.tags.main.public_tooltip") %>" for="<%= dom_id(tag, "public") %>"><%= t("winnow.tags.main.public") %></label>
            </li>
          <% end -%>
          <li><%= link_to_remote t("winnow.tags.main.copy"), :url => tags_path(:copy => tag), :with => "{name: name}", :condition => %W|name = prompt("Name:", #{tag.name.to_json} + " - copy")|, :html => { :class => "copy", :title => t("winnow.tags.main.copy_tooltip") } %></li>
          <% if tag.user_id == current_user.id -%>
            <li><%= link_to_remote t("winnow.general.destroy"), :url => tag_path(tag), :method => 'delete', :confirm => t("winnow.tags.main.destroy_confirm", :tag => tag.name), :html => { :title => t("winnow.tags.main.destroy_tooltip", :tag => tag.name), :class => "destroy", :id => dom_id(tag, 'destroy') } %></li>
          <% end -%>
          <% if tag.user_id != current_user.id -%>
            <li><%= link_to t("winnow.tags.main.items_tagged_with", :tag => h(tag.name)), subscribe_tag_path(tag, :subscribe => true, :redirect_to => feed_items_path(:anchor => "tag_ids=#{tag.id}")), :method => :put, :class => 'show', :title => t("winnow.tags.main.items_tagged_with_tooltip") %></li>
            <li><%= link_to t("winnow.tags.main.items_trained_with", :tag => h(tag.name)), subscribe_tag_path(tag, :subscribe => true, :redirect_to => feed_items_path(:anchor => "tag_ids=#{tag.id}&mode=trained", :escape => false)), :method => :put, :class => "show", :title => t("winnow.tags.main.items_trained_with_tooltip") %></li>
          <% else -%>
            <li><%= link_to t("winnow.tags.main.items_tagged_with", :tag => h(tag.name)), sidebar_tag_path(tag, :sidebar => true, :redirect_to => feed_items_path(:anchor => "tag_ids=#{tag.id}")), :method => :put, :id => "#{dom_id(tag, 'tagged_with')}", :class => 'show', :title => t("winnow.tags.main.items_tagged_with_tooltip") %></li>
            <li><%= link_to t("winnow.tags.main.items_trained_with", :tag => h(tag.name)), sidebar_tag_path(tag, :sidebar => true, :redirect_to => feed_items_path(:anchor => "tag_ids=#{tag.id}&mode=trained", :escape => false)), :method => :put, :id => "#{dom_id(tag, 'trained_with')}", :class => "show", :title => t("winnow.tags.main.items_trained_with_tooltip") %></li>
          <% end -%>
          <li><%= link_to t("winnow.tags.main.feed"), url_for(:controller => "tags", :action => "show", :user => tag.user_login, :tag_name => tag.name, :format => "atom"), :class => "feed", :title => t("winnow.tags.main.feed_tooltip") %></li>
          <% if is_admin? -%>
						<li><%= link_to t("winnow.tags.main.training_feed"), url_for(:controller => "tags", :action => "training", :user => tag.user_login, :tag_name => tag.name, :format => "atom"), :class => "feed", :title => t("winnow.tags.main.training_feed_tooltip") %></li>
					<% end -%>
        </ul>
      </div>
      
      <%= render :partial => "stats.html.erb", :locals => { :tag => tag } %>
    </div>
  </div>
</div>