<div id="<%= dom_id(tag) %>" class="tag record clearfix <%= tag_classes(tag) %>">
  <%= render :partial => "summary.html.erb", :locals => { :tag => tag, :editable => true, :disabled => false } %>
  
  <div class="extended" style="display:none">  
    <div class="comments clearfix" url="<%= comments_tag_path(tag) %>"></div>
    <div class="sidebar">      
      <div class="block actions clearfix">
        <ul class="controls">
          <li class="first"><%= bias_slider_html(tag) %></li>
          <li class="state">
            <%= render :partial => "state.html.erb", :locals => { :tag => tag } %>
          </li>
          <li class="public">
            <%= check_box_tag dom_id(tag, "public"), "1", tag.public?, :onclick => remote_function(:url => publicize_tag_path(tag), :method => 'put', :with => "{ public: this.checked }") %> <label for="<%= dom_id(tag, "public") %>"><%= _(:tags_public) %></label>
          </li>
          <li><%= link_to_remote _(:copy), :url => tags_path(:copy => tag), :with => "{name: name}", :condition => %W|name = prompt("Name:", "#{tag.name} - copy")|, :html => { :title => _(:tags_copy_link_title, tag.name), :class => "copy" } %></li>
          <li><%= link_to_remote _(:destroy), :url => tag_path(tag), :method => 'delete', :confirm => _(:tags_destroy_confirm_text, tag.name), :html => { :title => _(:tags_destroy_link_title, tag.name), :class => "destroy", :id => dom_id(tag, 'destroy') } %></li>
          <li><%= link_to _(:view_all_items, tag.name), feed_items_path(:anchor => "tag_ids=#{tag.id}"), :class => 'show' %></li>
          <li><%= link_to _(:view_tagged_items, tag.name), feed_items_path(:anchor => "tag_ids=#{tag.id}&mode=trained"), :class => "show" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
