<div id="<%= dom_id(tag) %>" class="tag record clearfix <%= tag_classes(tag) %>">
  <%= render :partial => "summary.html.erb", :locals => { :tag => tag, :editable => tag.user_id == current_user.id } %>
  
  <div class="extended clearfix" style="display:none">
    <div class="comments" url="<%= comments_tag_path(tag) %>"></div>
    <div class="sidebar">
      <div class="block actions">
        <ul class="controls">
          <li class="first slider_control clearfix">
            <h4><%= t("winnow.tags.main.apply_to", :tag => tag.name) %></h4>
            <span class="fewer" title="<%= t('winnow.tags.main.fewer_items_tooltip') %>"><%= t("winnow.tags.main.fewer_items") %></span> <%= bias_slider_html(tag) %> <span class="more" title="<%= t('winnow.tags.main.more_items_tooltip') %>"><%= t("winnow.tags.main.more_items") %></span>
          </li>
          <% if tag.user_id != current_user.id -%>
            <li>
              <%= subscribe_link(tag) %> <%= unsubscribe_link(tag) %>
            </li>
          <% end %>
          <% if tag.user_id == current_user.id -%>
            <li class="public">
              <%= check_box_tag dom_id(tag, "public"), "1", tag.public?, :title => t("winnow.tags.main.public_tooltip"), :onclick => remote_function(:url => publicize_tag_path(tag), :method => 'put', :with => "{ public: this.checked }") %> <label title="<%= t("winnow.tags.main.public_tooltip") %>" for="<%= dom_id(tag, "public") %>"><%= t("winnow.tags.main.public") %></label>
            </li>
          <% end -%>
          <li><%= link_to_remote t("winnow.tags.main.copy"), :url => tags_path(:copy => tag), :with => "{name: name}", :condition => %W|name = /MSIE/.test(navigator.userAgent) ? #{tag.name.to_json} + " - copy" : prompt("Name:", #{tag.name.to_json} + " - copy")|, :html => { :class => "copy", :title => t("winnow.tags.main.copy_tooltip") } %></li>
          <% if tag.user_id == current_user.id -%>
            <% if tag.tag_subscriptions.empty? || current_user.login != "archive" -%>
              <li><%= link_to_remote t("winnow.general.destroy"), :url => tag_path(tag), :method => 'delete', :confirm => t(!tag.tag_subscriptions.empty? ? "winnow.tags.main.tag_with_subscriptions_destroy_confirm" : "winnow.tags.main.destroy_confirm", :tag => tag.name), :html => { :title => t("winnow.tags.main.destroy_tooltip", :tag => tag.name), :class => "destroy", :id => dom_id(tag, 'destroy') } %></li>
            <% elsif current_user.login == "archive" -%>
              <li><%= t("winnow.archive.no_deleting_tags_with_subscribers") %></li>
            <% end -%>
          <% end -%>
          <% if tag.user_id != current_user.id -%>
            <li><%= link_to t("winnow.tags.main.items_tagged_with", :tag => h(tag.name)), subscribe_tag_path(tag, :subscribe => true, :redirect_to => feed_items_path(:anchor => "tag_ids=#{tag.id}")), :method => :put, :class => 'tagged', :title => t("winnow.tags.main.items_tagged_with_tooltip") %></li>
            <li><%= link_to t("winnow.tags.main.items_trained_with", :tag => h(tag.name)), subscribe_tag_path(tag, :subscribe => true, :redirect_to => feed_items_path(:anchor => "tag_ids=#{tag.id}&mode=trained", :escape => false)), :method => :put, :class => "trained", :title => t("winnow.tags.main.items_trained_with_tooltip") %></li>
          <% else -%>
            <li><%= link_to t("winnow.tags.main.items_tagged_with", :tag => h(tag.name)), feed_items_path(:anchor => "tag_ids=#{tag.id}"), :class => 'tagged', :title => t("winnow.tags.main.items_tagged_with_tooltip") %></li>
           <li><%= link_to t("winnow.tags.main.items_trained_with", :tag => h(tag.name)), feed_items_path(:anchor => "tag_ids=#{tag.id}&mode=trained", :escape => false), :class => "trained", :title => t("winnow.tags.main.items_trained_with_tooltip") %></li>
          <% end -%>
          <div class="feed_links">
            <%= render :partial => "feed_links.html.erb", :locals => { :tag => tag } %>
          </div>
          <li>
              <%= globally_exclude_tag_link(tag) %> <%= unglobally_exclude_tag_link(tag) %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>