<div id="<%= dom_id(tag) %>" class="tag record clearfix <%= tag_classes(tag) %>">
  <%= render :partial => "summary.html.erb", :locals => { :tag => tag, :editable => true } %>
  
  <div class="extended" style="display:none">  
    <%= render :partial => "comments.html.erb", :locals => { :tag => tag } %>
      
    <div class="sidebar">      
      <div class="block actions clearfix">
        <h5>Actions</h5>
        <ul class="controls">
          <li class="first"><%= bias_slider(tag) %></li>
          <li><%= globally_exclude_check_box(tag) %> <%= _(:tags_globally_exclude) %></li>
          <li>
            <%= check_box_tag dom_id(tag, "public"), "1", tag.public?, :onclick => remote_function(:url => publicize_tag_path(tag), :method => 'put', :with => "{ public: this.checked }") %> <%= _(:tags_public) %>
          </li>
          <li><%= link_to_remote _(:copy), :url => tags_path(:copy => tag), :with => "{name: name}", :condition => %W|name = prompt("Name:", "#{tag.name} - copy")|, :html => { :title => _(:tags_copy_link_title, tag.name), :class => "duplicate_icon" } %></li>
          <li><%= link_to_remote _(:destroy), :url => tag_path(tag), :method => 'delete', :confirm => _(:tags_destroy_confirm_text, tag.name), :html => { :title => _(:tags_destroy_link_title, tag.name), :class => "destroy_icon", :id => dom_id(tag, 'destroy') } %></li>
          <li><%= link_to _(:view_all_items, tag.name), feed_items_path(:anchor => "tag_ids=#{tag.id}"), :class => 'view_icon' %></li>
          <li><%= link_to _(:view_tagged_items, tag.name), feed_items_path(:anchor => "tag_ids=#{tag.id}&mode=moderated"), :class => "view_icon" %></li>
        </ul>
      </div> <!-- /.actions -->
    </div>
  </div> <!-- /.extended -->
</div>
