<% form_tag feedbacks_path, :id => "text_filter_form", :onsubmit => "return false" do -%>
  <%= text_field_tag "text_filter", params[:text_filter], :placeholder => t("winnow.feedback.header.search_placeholder") %>
<% end -%>

<div class="order clearfix">
  <label><%= t("winnow.general.sort_label") %></label>        
  <select id="order">
    <option value="user"><%= t("winnow.feedback.header.user") %></option>
    <option value="created_at"><%= t("winnow.feedback.header.date") %></option>
  </select>
  <%= direction_link %>
</div>
