<div id="invite_form" class="form">
  <% form_for :invite, :url => signup_invite_path do |f| -%>
    <div class="title">
      <span class="invitation"><%= t("winnow.login.sign_up") %></span>
    </div>

    <div class="content" class="clearfix">
      <p><%= t("winnow.general.account_request_intro") %></p>

      <%= error_messages_for :invite %>

      <div class="email">
        <%= f.label :email, t("winnow.general.email") %>
        <%= f.text_field :email, :tabindex => 1, :title => t("winnow.login.email_tooltip") %>
        <p class="description email_promise"><%= t("winnow.general.email_address_promise") %></p><p></p>
        <%= recaptcha_tags :display => {:theme => "white", :tabindex => 2} %><p></p>
        <%= submit_tag t("winnow.login.request_account_button") %> <%= link_to t("winnow.general.cancel"), logout_path %>
      </div>

      <div class="submit">
      </div>

    </div>
  <% end -%>
</div>