<div id="login_form" class="form clearfix">
  <% form_tag login_path do -%> 
    <div class="title">
      <span class="login"><%= t("winnow.general.login") %></span>
      <span class="invitation"><%= link_to_function t("winnow.login.request_invitation"), :title => t("winnow.login.request_invitation_tooltip") %></span>
    </div>
    
    <div class="content">
      <div class="clearfix">
      	<div class="login">
      	  <label for="login"><%= t("winnow.general.login") %></label>
      	  <%= text_field_tag :login %>
      	</div>

      	<div class="password">
      	  <label for="password"><%= t("winnow.general.password") %></label>
      	  <%= password_field_tag :password %>
      	</div>
      </div>
  
    	<div class="remember">
    	  <label for="remember_me" class="inline" title="<%= t('winnow.login.remember_me_tooltip') %>"><%= check_box_tag :remember_me %> <%= t("winnow.login.remember_me") %></label>
    	</div>

    	<div class="submit">
    	  <%= submit_tag t("winnow.general.login") %>
    	  <%= link_to_function t("winnow.login.forgot_password"), "", :class => "forgot_password_link", :title => t("winnow.login.forgot_password_tooltip") %>
    	</div>
  	</div>
  <% end -%>
</div>