<div id="reminder_form" class="form clearfix" style="display: none;">
  <% form_remote_tag :url => reminder_path do -%>

    <div class="title">
      <span class="reminder"><%= t("winnow.login.reminder_header") %></span>
    </div>

    <div class="content">
    	<div class="login clearfix">
    	  <label for="login"><%= t("winnow.general.login") %></label>
    	  <%= text_field_tag :login %>
    	</div>

    	<div class="submit">
    	  <label>&nbsp;</label>
    	  <%= submit_tag t("winnow.general.submit") %>
    	  <%= link_to_function t("winnow.login.back"), "", :class => "forgot_password_link", :title => t("winnow.login.back_tooltip") %>        	  
    	</div>
    </div>
  <% end -%>
</div>
