<% content_for :body, "login" %>

<div class="container">
  <div id="logout_box"><a href="<%= logout_path %>">X</a></div>
  <div class="form">
    <div class="title">
      <span class="invitation"><%= t("winnow.profile.password.header") %></span>
    </div>

<%= error_messages_for :current_user %>

<% form_for :current_user do |f| %>
  <fieldset class="profile">
  	<p>
  	  <%= f.label :password, t("winnow.profile.password.new") %>
  	  <%= f.password_field :password, :autocomplete => "off" %>
  	</p>
  	<p>
  	  <%= f.label :password_confirmation, t("winnow.profile.password.new_confirmation") %>
  	  <%= f.password_field :password_confirmation %>
  	</p>
  	<p>
  	  <%= submit_tag t("winnow.general.save") %> <%= link_to t("winnow.general.cancel"), logout_path %>
  	</p>
  </fieldset>
<% end %>
  </div>
</div>