<%= error_messages_for :current_user %>

<% form_for :current_user do |f| %>
  <fieldset class="profile">
  	<legend><%= t("winnow.profile.password.header") %></legend>

  	<p>
  	  <%= f.label :password, t("winnow.profile.password.new") %>
  	  <%= f.password_field :password %>
  	</p>
  	<p>
  	  <%= f.label :password_confirmation, t("winnow.profile.password.new_confirmation") %>
  	  <%= f.password_field :password_confirmation %>
  	</p>
  	<p>
  	  <%= submit_tag t("winnow.general.save") %>
  	</p>
  </fieldset>
<% end %>
