<% content_for :body, "login" %>

<div class="container">
  <div class="welcome">
    <h2><%= t(:welcome_header) %></h2>

    <%= t(:welcome_text) %>    
  </div>
  
  <% if @invite and @invite.code? -%>
    <%= render :partial => "signup", :object => @invite %>
    
  <% else -%>
    <%= render :partial => "login" %>
    <%= render :partial => "reminder" %>
    <%= render :partial => "invite" %>
  <% end -%>
</div>