<% content_for :body, "login" %>

<div class="container">
  <div id="logout_box"><a href="<%= logout_path %>">X</a></div>
  <div class="form">
    <div class="title">
      <span class="invitation"><%= t("winnow.login.sign_up") %></span>
    </div>

  <div class="content">
    <h2><%= t("winnow.notifications.sign_up_link_sent") %></h2>
    <p><%= t("winnow.sent_signup.check_your_email") %></p>
    <p>
      <%= t("winnow.sent_signup.not_found") %> <%= link_to t("winnow.login.sign_up"), get_signup_link_path %>
    </p>
    <%= link_to t("winnow.general.return_to_winnowtag_home"), logout_path %>
  </div>
  </div>
</div>