<% if current_user -%>
  <div id="navigation" class="navigation clearfix">
  	<ul class="extra">
      <li>Logged in as <%=h current_user.login %></li>
      <li><%= link_to(_(:profile), edit_account_path(current_user)) %></li>
      <li><%= link_to(_(:logout), logout_path) %></li>
      <li><%= link_to(_(:about), about_path) %></li>
      <li id="feedback"><%= link_to_remote(_(:leave_feedback), :url => new_feedback_path, :method => :get) %></li>
    </ul>

  	<ul class="main clearfix">
      <li><%= link_to(_(:winnow_info), info_path, :class => tab_selected('about', "info")) %></li>
      <li><%= link_to(_(:items), feed_items_path, :class => tab_selected('feed_items')) %></li>
  	  <li><%= link_to(_(:my_tags), tags_path, :class => tab_selected('tags', 'index')) %></li>
  	  <li><%= link_to(_(:public_tags), public_tags_path, :class => tab_selected('tags', 'public')) %></li>
      <li><%= link_to(_(:feeds), feeds_path, :class => tab_selected('feeds')) %></li>
      <% if is_admin? -%>
        <li><%= link_to(_(:admin), admin_path, :class => tab_selected('admin')) %></li>
      <% end -%>
      <% if help_path -%>
        <li><%= link_to(_(:help), help_path, :target => "_blank", :class => "help") %></li>
      <% end -%>
  	</ul>
	</div>
<% end -%>