<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Winnow<%= " (#{current_user.login})" if current_user %>: <%= controller.controller_name.titleize %> <%= controller.action_name.titleize %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 	<%= javascript_include_merged :base %>
	<%= stylesheet_link_merged :base %>
	<!--[if IE]>
	  <link rel="stylesheet" href="stylesheets/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	<%= yield(:head) %>
	
	<script type="text/javascript" charset="utf-8">
    document.observe('dom:loaded', resizeContent);
    document.observe('dom:loaded', AppleSearch.setup);
    document.observe('font:resized', resizeContent);
    Event.observe(window, 'resize', resizeContent);
	</script>
</head>
<body id="<%= controller.controller_name %>_controller">
	<%= render :partial => 'layouts/navbar' %>
	
	<% if header_controls = yield(:header_controls) -%>
	  <div id="header_controls"><%= header_controls %></div>
	<% end -%>

	<%= show_flash %>
	<%= show_unread_messages if current_user %>
	
  <% if sidebar_content = yield(:sidebar) -%>
    <div id="sidebar"><%= sidebar_content %></div>
		<div id="sidebar_control"></div>  
  <% end -%>

  <div id="container">
    <div id="content">
      <%= yield %>
    </div>

  	<% if footer_content = yield(:footer) -%>
  		<div id="footer" class="clearfix"><%= footer_content %></div>
  	<% end -%>
  </div>
</body>
</html>
