<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title><%= t("winnow.general.app_name") %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag :demo, :cache => "all_demo" %>
 

  <!--[if lte IE 6]>
    <%= javascript_include_tag "ie6" %>
  <![endif]-->

  <%= javascript_include_tag :defaults, :demo, "locales", :cache => "all_demo" %>
  <% javascript_tag do -%>
    document.observe('dom:loaded', Demo.setup);
		var itemBrowser;
		
		document.observe('dom:loaded', function() {
			 try {
				itemBrowser = new FeedItemsItemBrowser('demo', 'content', { });
			} catch (e) {
				console.log(e)
			}
				
			});
  <% end -%>

  <%= render :partial => "shared/google_analytics" %>

</head>
<body id="demo">

  <noscript>
    <%= render :partial => "layouts/javascript_is_required" %>
  </noscript>
  
  <%= yield %>

</body>
</html>
